<div class="wrapper">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!--Account setup-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/settings.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Account Setup</h4>
              <p align="center"><small>AccountSetup Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Setting!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Change Setting!</small></p>
            </div>
          </div>
        </div>
        <!-- Account setup End -->

        <!--Aging Start-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#aging">
              <div class="text-center">
                <img src="assets/images/aging.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Aging</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Aging!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Ar Account
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- Aging End -->

        <!--Close invoice start-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/Close.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Close Invoice</h4>
              <p align="center"><small>Invoice Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Close Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Invoice
                  Close!</small></p>
            </div>
          </div>
        </div>
        <!-- close invoice end -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/FixedDeposit-icon.jpg" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Fixed Charges</h4>
              <p align="center"><small>Charges Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Fixed charges
                  Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/fig.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Future Resv.</h4>
              <p align="center"><small>Reservation Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Future changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i>Future
                  Reservation!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#Notes">
              <div class="text-center">
                <img src="assets/images/note.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Notes</h4>
              <p align="center"><small>Acoount Notes Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Notes Changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account Notes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>

      <div class="row">
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#post">
              <div class="text-center">
                <img src="assets/images/history.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Post History</h4>
              <p align="center"><small>History Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Post Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Post Changes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->

        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/Profile.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">profile</h4>
              <p align="center"><small>Profile Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Profile Changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Changes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->

        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#remainder">
              <div class="text-center">
                <img src="assets/images/bell.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Remaiders</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Remaiders Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Remaiders!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#Statement">
              <div class="text-center">
                <img src="assets/images/statement.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Statement</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Statement Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Statement!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/traces.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Traces</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Traces!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Traces
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/year.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">YearView</h4>
              <p align="center"><small>YearView Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>
      <div class="row">
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/year.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">YearView</h4>
              <p align="center"><small>YearView Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/year.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">YearView</h4>
              <p align="center"><small>YearView Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/year.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">YearView</h4>
              <p align="center"><small>YearView Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>
      <br>
    </div>
  </div>
</div>

<!-- Aging start-->
<div class="modal fade" id="aging" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Aging </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Levels</th>
                <th>Open</th>
                <th>Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Up to 30</td>
                <td>640</td>
                <td>-250</td>
              </tr>
              <tr>
                <td> 31-60</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td> 61-90</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td> 90-120</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <th align="right">Total</th>
                <td>640.00</td>
                <td>-250.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- Aging End -->

<!-- Notes start-->
<div class="modal fade" id="Notes" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> AR Notes </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Closed</th>
                <th>Title</th>
                <th>LastModified</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10-02-2018</td>
                <td>Credit Status</td>
                <td>10-02-2018 by supervisor</td>
              </tr>
              <tr>
                <td>10-02-2018</td>
                <td>Credit Status</td>
                <td>10-02-2018 by supervisor</td>
              </tr>
              <tr>
                <td>10-02-2018</td>
                <td>Credit Status</td>
                <td>10-02-2018 by supervisor</td>
              </tr>
              <tr>
                <td>10-02-2018</td>
                <td>Credit Status</td>
                <td>10-02-2018 by supervisor</td>
              </tr>
              <tr>
                <td>10-02-2018</td>
                <td>Credit Status</td>
                <td>10-02-2018 by supervisor</td>
              </tr>
            </tbody>
          </table>
          <p><b>Description</b></p>
          <textarea name="" id="" cols="93" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-info" data-dismiss="modal"><b>New</b></button>
        <button type="button" class="btn btn-sucess" data-dismiss="modal"><b>Edit</b></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal"><b>Delete</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- Notes End -->

<!-- post History start-->
<div class="modal fade" id="post" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Post History </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Action</th>
                <th>Reason</th>
                <th>Date</th>
                <th>Time</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>konnect </td>
              </tr>
            </tbody>
          </table>
          <p><b>Terminal</b></p>
          <textarea name="" id="" cols="93" rows="1"></textarea>
          <br>
          <p><b>Machine</b></p>
          <textarea name="" id="" cols="93" rows="1"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal"><b>Details</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- post History End -->

<!-- Remainder start-->
<div class="modal fade" id="remainder" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Remainder </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>A/R Account</th>
                <th>Remainder Letter</th>
                <th>Cycle</th>
                <th>Fax</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>konnect </td>
              </tr>
            </tbody>
          </table>
          <p><b>Terminal</b></p>
          <textarea name="" id="" cols="93" rows="1"></textarea>
          <br>
          <p><b>Machine</b></p>
          <textarea name="" id="" cols="93" rows="1"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" style="width:63px" data-dismiss="modal"><b>All</b></button>
        <button type="button" class="btn btn-primary" style="width:63px" data-dismiss="modal"><b>Notes</b></button>
        <button type="button" class="btn btn-success" style="width:63px" data-dismiss="modal"><b>Preview</b></button>
        <button type="button" class="btn btn-warning" style="width:63px" data-dismiss="modal"><b>Print</b></button>
        <button type="button" class="btn btn-info" style="width:63px" data-dismiss="modal"><b>File</b></button>
        <button type="button" class="btn btn-primary" style="width:63px" data-dismiss="modal"><b>Fax</b></button>
        <button type="button" class="btn btn-success" style="width:63px" data-dismiss="modal"><b>Email</b></button>
        <button type="button" class="btn btn-danger" style="width:63px" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- Remainder End -->

<!-- statement start-->
<div class="modal fade" id="Statement" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:120%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Statement </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <p><b>Balance Forward From</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Balance Forward To</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Last Posted From </b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Last Posted To</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            
              <div class="input-group">
              <label><input type="checkbox" name="" id="" > Print Zero Balance</label>  
             </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <label><input type="checkbox" name="" id="" > Print Full Statement</label>  
             </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <label><input type="checkbox" name="" id="" > Print Folios</label>  
                </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <p><b>copies</b><input type="number" name="" id="" style="height:34px;width:70px"></p>    
              </div>
            </div>
          </div>
        <div class="row" style="padding:10px;">

          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Account Name</th>
                <th>Account No</th>
                <th>Blance</th>
                <th>Contact</th>
                <th>Type</th>
                <th>VIP</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-info" style="width:75px" data-dismiss="modal"><b>Preview</b></button>
        <button type="button" class="btn btn-primary" style="width:75px" data-dismiss="modal"><b>Print</b></button>
        <button type="button" class="btn btn-success" style="width:75px" data-dismiss="modal"><b>File</b></button>
        <button type="button" class="btn btn-warning" style="width:75px" data-dismiss="modal"><b>Fax</b></button>
        <button type="button" class="btn btn-info" style="width:75px" data-dismiss="modal"><b>Email</b></button>
        <button type="button" class="btn btn-primary" style="width:75px" data-dismiss="modal"><b>Folio Style</b></button>
        <button type="button" class="btn btn-success" style="width:75px" data-dismiss="modal"><b>Add Text</b></button>
        <button type="button" class="btn btn-danger" style="width:75px" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- statement End -->