<div class="wrapper">
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <!--Account setup-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2" >
          <div class="panel panel-default ">
            <div class="panel-body " data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/settings.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Account Setup</h4>
              <p align="center"><small>AccountSetup Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Setting!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Change Setting!</small></p>
            </div>
          
          </div>
        </div>
        <!-- Account setup End -->

        <!--Aging Start-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#aging">
              <div class="text-center">
                <img src="assets/images/aging.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Aging</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Aging!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Ar Account
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- Aging End -->

        <!--Close invoice start-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/Close.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Close Invoice</h4>
              <p align="center"><small>Invoice Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Close Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Invoice
                  Close!</small></p>
            </div>
          </div>
        </div>
        <!-- close invoice end -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/FixedDeposit-icon.jpg" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Fixed Charges</h4>
              <p align="center"><small>Charges Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Fixed charges
                  Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/fig.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Future Resv.</h4>
              <p align="center"><small>Reservation Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Future changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i>Future
                  Reservation!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#Notes">
              <div class="text-center">
                <img src="assets/images/note.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Notes</h4>
              <p align="center"><small>Account Notes Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Notes Changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account Notes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>

      <div class="row">
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#post">
              <div class="text-center">
                <img src="assets/images/history.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Post History</h4>
              <p align="center"><small>History Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Post Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Post Changes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->

        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#alert">
              <div class="text-center">
                <img src="assets/images/Profile.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">profile</h4>
              <p align="center"><small>Profile Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Profile Changes!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Changes!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->

        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#remainder">
              <div class="text-center">
                <img src="assets/images/bell.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Remaiders</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Remaiders Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Remaiders!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#Statement">
              <div class="text-center">
                <img src="assets/images/statement.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Statement</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Statement Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  Statement!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#traces">
              <div class="text-center">
                <img src="assets/images/traces.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Traces</h4>
              <p align="center"><small>Account Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Account Traces!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Traces
                  Alert!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#YearView">
              <div class="text-center">
                <img src="assets/images/year.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">YearView</h4>
              <p align="center"><small>YearView Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>
      <div class="row">
               <!--alert-->
               <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                  <div class="panel">
                    <div class="panel-body" data-toggle="modal" data-target="#payhistory">
                      <div class="text-center">
                        <img src="assets/images/closeinvoice.jpg" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
                      </div>
                      <h4 align="center">Pay History</h4>
                      <p align="center"><small>Pay History Alert!</small></p>
                    </div>
                    <div class="panel-footer">
                      <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
                      <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account YearView!</small></p>
                    </div>
                  </div>
                </div>
                <!-- column 1 for 1 row -->
                        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
            <div class="panel">
              <div class="panel-body" data-toggle="modal" data-target="#alert">
                <div class="text-center">
                  <img src="assets/images/Foliohistory.jpg" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
                </div>
                <h4 align="center">Folio History</h4>
                <p align="center"><small>Folio History Alert!</small></p>
              </div>
              <div class="panel-footer">
                <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
                <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account YearView!</small></p>
              </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
        <!--alert-->
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#Transfer">
              <div class="text-center">
                <img src="assets/images/Transfer.png" alt="change" style="border-radius:50%;border:solid 10px lightgray;">
              </div>
              <h4 align="center">Transfer</h4>
              <p align="center"><small>Transfer Alert!</small></p>
            </div>
            <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Admin Alert!</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> Account
                  YearView!</small></p>
            </div>
          </div>
        </div>
        <!-- column 1 for 1 row -->
      </div>
      <br>
    </div>
  </div>
</div>


<!-- // pay history modal start -->
<!-- Modal -->
<div id="payhistory" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content" style="width: 120%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pay History</h4>
      </div>
      <form #paymentForm="ngForm">
      <div class="modal-body">
       <div class="container-fluid">
         <div class="card">
         <div class="row">
           <div class="col-md-4">
           <div class="form-group" style="margin-left: 10px;">
             <label for="name">From Date</label>
             <input type="date" class="form-control" id="Fromdate" name="From date" [(ngModel)]="Invoice"> 
           </div>
          </div>
         
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Invoice No</label>
              <input type="text" class="form-control" id="invoiceno" name="invoiceno" [(ngModel)]="Invoiceno">
            </div>
          </div>

          <div class="col-md-3">
            <button type="reset" class="btn btn-warning" style="margin-bottom:-55px;width:85px">Clear</button>
            </div>

         </div>
        </div>
        <br>
         <div class="row">
           <table  class="table table-bordered table-hover">
             <thead class="table" style="background-color: #0077B5;color: white">
               <tr>
               <td>Invoice</td>
               <td>Trn Code</td>
               <td>Description</td>
               <td>PostDate</td>
               <td>Amount</td>
               </tr>
             </thead>
             <tbody>
               <tr  *ngFor="let pay_table_value of payhis_tabl_val  | filterdata: Invoice :'post_date' | filterdata: Invoiceno :'invoice_id';let i=index ">
                 <td>{{pay_table_value.invoice_id}}</td>
                 <td>{{pay_table_value.payment_code}}</td>
                 <td>{{pay_table_value.payment_type}}</td>
                 <td>{{pay_table_value.post_date}}</td>
                 <td>{{pay_table_value.payment_amount}}</td>
               </tr>
              
             </tbody>
           </table>
         </div>
       </div>
      </div>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

   <!-- Transfer -->

   <!-- Modal -->
<div id="Transfer" class="modal modal-open" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content" style="width: 85%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Transfer</h4>
        </div>
        <div class="modal-body">
        <div class="container-fluid">
          <div class="card" >
          <div class="row" style="padding: 10px 10px 0px 10px;">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">Account Name</label>
                <input type="text" class="from-group" id="Account name" name="name" [(ngModel)]="accountname">
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="name">From Account No</label>
                  <input type="text" class="from-group" id="Account name" name="name"  [(ngModel)]="accountno" >
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="name">To Account No</label>
                    <input type="text" class="from-group" id="Account name" name="name"  [(ngModel)]="accountno">
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="name">Account Type</label>
                      <select  class="from-control input-sm" id="Account name" name="name" style="width: 146px;" [(ngModel)]="accounttype" (change)="onSel(accounttype)">
                        <option *ngFor="let option of market_val" 
                        [ngValue]="option.account_type"> 
                        {{option.account_type}}</option>
                      </select>
                    </div>
                  </div>
          </div>
          <div class="row" style="padding: 0px 10px 10px 10px;">
              <div class="col-md-3">
                  <div class="form-group">
                    <label for="name">Amount</label>
                    <input type="number" class="from-group" id="Account name" name="name" [(ngModel)]="amount">
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="name">Text</label>
                      <input type="text" class="from-group" id="Account name" name="name">
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="name">Supplement</label>
                        <input type="text" class="from-group" id="Account name" name="name">
                      </div>
                    </div>
                  </div>
                </div>
                    <div class="row">
                    <div class="col-md-3">
                        <div class="radio" >
                            <label><input type="radio" name="optradio"  (change)="radio_bt_fil('all_acc')">all</label>
                          </div>
                    </div>

                    <div class="col-md-3">
                        <div class="radio">
                            <label><input type="radio" name="optradio"  (change)="radio_bt_fil('open_bal')">Openbalance</label>
                          </div>
                    </div>

                    <div class="col-md-3">
                        <div class="radio">
                            <label><input type="radio" name="optradio"  (change)="radio_bt_fil('no_bal')">No Balance</label>
                          </div>
                    </div>
                  </div>
                  <div class="row">
                    <table class="table table-bordered table-hover">
                      <thead class="table" style="background-color: #0077B5;color: white">
                       <tr>
                         <td>Account Name</td>
                         <td>Account No</td>
                         <td>Balance</td>
                         <td>content</td>
                         <td>type</td>
                         <td>city</td>
                       </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let Transfer of tableschanges_new   | filterdata: accountname :'contact' | filterdata: amount :'account_balance';let i=index "
                        (click)="selectTransEdit(Transfer,i)" [ngClass]="{'backGroundColor':i==selectindex}"
                         [contextmenu]="[contextmenu,{item:item}]">
                          <td>{{Transfer.contact}}</td>
                          <td>{{Transfer.account_number}}</td>
                          <td>{{Transfer.account_balance}}</td>
                          <td>{{Transfer.contact}}</td>
                          <td>{{Transfer.account_type}}</td>
                          <td>{{Transfer.city}}</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
          
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#transferresponse" style="width: 60px;">Ok</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

   <!-- // response modal for Transfer -->


   <div id="transferresponse" class="modal modal-open" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
         <h3 style="text-align: center;background-color: yellow;">Are u want transfer the data</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#transfermsg"  (click)="transferfun()" >Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <!-- //response transfer -->

  <!-- Modal -->
<div id="transfermsg" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Transfer response</h4>
      </div>
      <div class="modal-body">
        <p><b>{{message}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




   <!-- YearView -->
           
   <div id="YearView" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content" style="width: 120%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Year View</h4>
          </div>
          <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <table class="table table-bordered table-hover">
                <thead class="table" style="background-color: #0077B5;color: white">
                 <tr>
                   <td>period</td>
                   <td>Debits</td>
                   <td>Credits</td>
                   <td>Balance</td>
                 </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let year_table_value of yearview_val ;let i=index ">
                    <td>{{year_table_value.period}}</td>
                    <td></td>
                    <td></td>
                    <td>{{year_table_value.Balance}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
   
    <!-- //traces modal start -->

    <div id="traces" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Traces</h4>
          </div>
          <form #newtracesform=ngForm>
          <div class="modal-body">
           <div class="continer">
             <div class="card">
             <div class="row" style=" padding: 13px;">
              <div class="col-md-3">
                 <label for="name">Date</label>
                <div class="form-group">
                  <input type="date" class="from-control" id="date" name="date" [(ngModel)]="tdate">
                </div>
              </div>
              <div class="col-md-3">
                  <label for="name">Account Name</label>
                 <div class="form-group">
                   <input type="text" class="from-control" id="date" name="accname" [(ngModel)]="accname">
                 </div>
               </div>
                  <div class="col-md-2">
                      <div class="radio">
                          <label><input type="radio" name="optradio" checked>All Traces</label>
                        </div>
                  
                  
                      <div class="radio">
                          <label><input type="radio" name="optradio" checked>Resolved Traces</label>
                        </div>
                  
                
                      <div class="radio">
                          <label><input type="radio" name="optradio" checked>Unresolved Traces</label>
                        </div>
                  
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-danger" style="width: 45%;margin-top: 20px;margin-left: 20px;" (click)="refereshtab();"> Clear All </button>   
                     </div>

                     
             </div>
            </div>
            <br>
            <div class="row">
              <table class="table table-bordered table-hover">
                <thead class="table" style="background-color: #0077B5;color: white">
                  <tr>
                    <td>Name</td>
                    <td>Trace On</td>
                    <td>Resolved On</td>
                    <td>Resolved By</td>
                    <td>Created By</td>
                    <td>Created On</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let traces_table_value of acc_trace_val | searchfilter :{trace_on:tdate} | searchfilter :{emp_firstname:accname} ;let i=index "
                  (click)="selecttracesvalue(traces_table_value,i)" [ngClass]="{'backGroundColor':i==traceselectindex}">
                    <td>{{traces_table_value.emp_firstname}}</td>
                    <td>{{traces_table_value.trace_on}}</td>
                    <td>{{traces_table_value.acc_resolved_on}}</td>
                    <td>{{traces_table_value.acc_resolved_by}}</td>
                    <td>{{traces_table_value.created_by}}</td>
                    <td>{{traces_table_value.created_on}}</td>
                  </tr>
                
                </tbody>
              </table>
            </div>
           </div>
          </div>
        </form>
          <div class="modal-footer">
            <div class="row" align="center">
              <button type="button" class="btn btn-primary" style="width:100px;" disabled>Resolve All</button>
              <button type="button" class="btn btn-warning" style="width:100px;" disabled>Resolve</button>
              <button type="button" class="btn btn-success"style="width:100px;" data-toggle="modal" data-target="#tracesnew" >New</button>
              <button type="button" class="btn btn-default"  style="width:100px;" data-toggle="modal" data-target="#edittrace" [disabled]=disabltrace>Edit</button>
              <button type="button" class="btn btn-danger"  style="width:100px;" [disabled]=disabltrace (click)="deletetracefun()">Delete</button>
              <button type="button" class="btn btn-danger" style="width:100px;" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- //Traces options -->

    <div id="tracesnew" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="traceForm.reset()">&times;</button>
              <h4 class="modal-title">New Traces</h4>
            </div>
            <form #traceForm="ngForm">
            <div class="modal-body">
          <div class="container-fluid">
           <div class="row">
             <table class="table table-bordered table-hover">
               <thead class="table" style="background-color: #0077B5;color: white">
                <tr>
                <td>Account Name</td>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td>{{traces_account_name}}</td>
                </tr>
                
              </tbody>
              
             </table>
           </div>
           <div class="row">
             <div class="col-md-4">
             <div class="form-group">
               <label for=name>Trace On </label>
               <input type="date" class="form-control" id="trace on" name="trace_on" [(ngModel)]="newtrace.traceon" required>
             </div>
            </div>
           </div>
           <div class="row">
             <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Trace Text</label>
                    <textarea class="form-control" rows="3" style="width:100%;" id="comment" name="tracetxt" [(ngModel)]="newtrace.tracetxt" required></textarea>
                  </div>
             </div>
           </div>
          </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newtracefun(newtrace);traceForm.reset()" [disabled]="!traceForm.valid">Ok</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="traceForm.reset()">Close</button>
            </div>

          </form>
          </div>
      
        </div>
      </div>
     

    <!-- //edit Traces options -->

    <div id="edittrace" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Traces</h4>
            </div>
            <form #traceeditForm="ngForm">
            <div class="modal-body">
          <div class="container-fluid">
           <div class="row">
             <table class="table table-bordered table-hover">
               <thead class="table" style="background-color: #0077B5;color: white">
                <tr>
                <td>Account Name</td>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td>{{traces_account_name}}</td>
                </tr>
                
              </tbody>
              
             </table>
           </div>
           <div class="row">
             <div class="col-md-4">
             <div class="form-group">
               <label for=name>Trace On </label>
               <input type="date" class="form-control" id="trace on" name="trace_on" [(ngModel)]="createdon">
             </div>
            </div>
           </div>
           <div class="row">
             <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Trace Text</label>
                    <textarea class="form-control" rows="3" style="width:100%;" id="comment" name="tracetxt" [(ngModel)]="trace_txt"></textarea>
                  </div>
             </div>
           </div>
          </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="edittracefun(createdon,trace_txt);">Ok</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </form>
          </div>
      
        </div>
      </div>





<!-- Aging start-->
<div class="modal fade" id="aging" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:140%;margin-left:-20%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Aging </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead  class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Levels</th>
                <th>Open</th>
                <th>Credits</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Up to 30</td>
                <td>640</td>
                <td>-250</td>
              </tr>
              <tr>
                <td> 31-60</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td> 61-90</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td> 90-120</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <th align="right">Total</th>
                <td>640.00</td>
                <td>-250.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>

      </div>
    </div>

  </div>
</div>
<!-- Aging End -->

<!-- Notes start-->
<div class="modal modal-open" id="Notes" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:140%;margin-left:-20%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> AR Notes </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Closed</th>
                <th>Title</th>
                <th>LastModified</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let notes_value of notes_tabl_val ;let i=index "
              (click)="selectnotesvalue(notes_value,i)" [ngClass]="{'backGroundColor':i==selectindex}">
                <td>{{notes_value.ar_note_date}}</td>
                <td>{{notes_value.ar_note_title}}</td>
                <td>{{notes_value.modified_on}}</td>
              </tr>
             
            </tbody>
          </table>
          <p><b>Description</b></p>
          <textarea name="" id="" style="width:100%; border-radius: 5px " row="1"></textarea>
        </div>
      </div>
      <div class="modal-footer ">

        <div class="text-center">
        <button type="button" class="btn btn-info"  style="width:100px" data-toggle="modal" data-target="#myModal"><b>New</b></button>
        <button type="button" class="btn btn-sucess"  style="width:100px" data-toggle="modal" data-target="#editnotes" [disabled]="disablnote"><b>Edit</b></button>
        <button type="button" class="btn btn-warning" style="width:100px" [disabled]="disablnote" (click)="deletenotefun()"><b>Delete</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100px"><b>Close</b></button>
      </div>
      </div>
    </div>

  </div>
</div>
<!-- Notes End -->
   <!-- newmodalbutton -->
   <div id="myModal" class="modal modal-open" role="dialog">
    <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="notesForm.reset()">&times;</button>
        <h4 class="modal-title">New Notes</h4>
      </div>
      <form #notesForm="ngForm">
      <div class="modal-body">
       <div class="container">
         <div class="row">
           <div class="col-md-3" style="margin-left: 128px;">
           <div class="form-group">
             <label for="name">Date</label>
             <input type="date" class="form-control" id="name" name="date" [(ngModel)]="newnotes.date" required>
           </div>
          </div>
         </div>
         <!-- <div class="row">
            <div class="col-md-3" style="margin-left: 128px;">
            <div class="form-group">
              <label for="name">Notes Type</label>
              <input type="test" class="form-control" id="name" name="date">
            </div>
           </div>
           <input type="test" class="form-control" id="name" name="title" [(ngModel)]="newnotes.title" required>
          </div> -->
          <div class="row">
              <div class="col-md-3" style="margin-left: 128px;">
              <div class="form-group">
                <label for="name">Notes Title</label>
                <select id="name" name="newmarkt" [(ngModel)]="newnotes.title" required style="height: 37px;width: 260px;margin-top: -10px">
                    <option *ngFor="let mark of notes_titles" [ngValue]="mark.notetype">{{mark.notetype}}</option>
                    </select>
              </div>
             </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin-left: 128px;">
                <div class="form-group">
                  <label for="name">Description</label>
                  <input type="test" class="form-control" id="name" name="des" [(ngModel)]="newnotes.desc" required>
                </div>
               </div>
              </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newnotesfun(newnotes);notesForm.reset()" [disabled]="!notesForm.valid">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="notesForm.reset()">Close</button>
      </div>
    </form>
    </div>

  </div>
</div>

<!-- Edit notes modalstart -->
<div id="editnotes" class="modal modal-open" role="dialog">
    <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Modal</h4>
      </div>
      <div class="modal-body">
       <div class="container">
         <div class="row">
           <div class="col-md-3" style="margin-left: 128px;">
           <div class="form-group">
             <label for="name">Date</label>
             <input type="date" class="form-control" id="name" name="date" [(ngModel)]="editnotedate">
           </div>
          </div>
         </div>
         <!-- <div class="row">
            <div class="col-md-3" style="margin-left: 128px;">
            <div class="form-group">
              <label for="name">Notes Type</label>
              <input type="test" class="form-control" id="name" name="date">
            </div>
           </div>
          </div> -->
          <div class="row">
              <div class="col-md-3" style="margin-left: 128px;">
              <div class="form-group">
                <label for="name">Notes Title</label>
              </div>
             </div>
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: 128px;">
                <div class="form-group">
                    <select id="name" name="newmarkt" [(ngModel)]="editnotetitle" required style="height: 37px;width: 260px;margin-top: -10px">
                        <option *ngFor="let mark of notes_titles" [ngValue]="mark.notetype">{{mark.notetype}}</option>
                        </select>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin-left: 128px;">
                <div class="form-group">
                  <label for="name">Description</label>
                  <input type="test" class="form-control" id="name" name="des" [(ngModel)]="editnotedesc">
                </div>
               </div>
              </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editnotesfun(editnotedate,editnotetitle,editnotedesc)">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>

<!-- post History start-->
<div *ngIf="hideshowoption==false" class="modal fade" id="post" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:140%;margin-left:-20%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Post History </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover table-responsive">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Action</th>
                <th>Reason</th>
                <th>Date</th>
                <th>Time</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let posthis of posthis_tabl_val ;let i=index ">
                <td>{{posthis.acc_action}}</td>
                <td>{{posthis.acc_posting_reason}}</td>
                <td>{{posthis.acc_post_date}}</td>
                <td>{{posthis.acc_posting_time}}</td>
                <td>{{posthis.emp_firstname}}</td>
              </tr>
            
            </tbody>
          </table>
          <div class="col-md-6">
            <p><b>Terminal</b></p>
          <textarea name="" id="" style="width:100%; border-radius: 5px " rows="1"></textarea>
          </div>
          
          <div class="col-md-6">
            <p><b>Machine</b></p>
          <textarea name="" id="" style="width:100%; border-radius: 5px " rows="1"></textarea>
          </div>     
        </div>
      </div>
      <div class="modal-footer">
          <div class="text-center">
        <button type="button" class="btn btn-warning" data-dismiss="modal" style="width:110px"><b>Details</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:110px"><b>Close</b></button>
          </div>
      </div>
    </div>

  </div>
</div>
<!-- post History End -->

<!-- Remainder start-->
<div class="modal fade" id="remainder" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:140%;margin-left:-20%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Remainder </h3>
      </div>
      <div class="modal-body">
        <div class="row" style="padding:10px;">
          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>A/R Account</th>
                <th>Remainder Letter</th>
                <th>Cycle</th>
                <th>Fax</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>supervisor</td>
              </tr>
              <tr>
                <td>All postings to the AR account display</td>
                <td>Credit Status</td>
                <td>10-02-2018</td>
                <td>17:34</td>
                <td>konnect </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
        <button type="button" class="btn btn-info" style="width:70px" data-dismiss="modal"><b>All</b></button>
        <button type="button" class="btn btn-primary" style="width:70px" data-dismiss="modal"><b>None</b></button>
        <button type="button" class="btn btn-success" style="width:70px" data-dismiss="modal"><b>Preview</b></button>
        <button type="button" class="btn btn-warning" style="width:70px" data-dismiss="modal"><b>Print</b></button>
        <button type="button" class="btn btn-info" style="width:70px" data-dismiss="modal"><b>File</b></button>
        <button type="button" class="btn btn-primary" style="width:70px" data-dismiss="modal"><b>Fax</b></button>
        <button type="button" class="btn btn-success" style="width:70px" data-dismiss="modal"><b>Email</b></button>
        <button type="button" class="btn btn-danger" style="width:70px" data-dismiss="modal"><b>Close</b></button>
      </div>  
      </div>
    </div>

  </div>
</div>
<!-- Remainder End -->

<!-- statement start-->
<div class="modal fade" id="Statement" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:140%;margin-left:-20%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" align="center" font-weight="700"> Statement </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <p><b>Balance Forward From</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Balance Forward To</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Last Posted From </b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
          <div class="col-md-3">
            <p><b>Last Posted To</b></p>
            <div class="input-group">
              <input type="date" name="" id="" style="height:34px;width:150px;">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-3">
            
              <div class="input-group">
              <label><input type="checkbox" name="" id="" > Print Zero Balance</label>  
             </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <label><input type="checkbox" name="" id="" > Print Full Statement</label>  
             </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <label><input type="checkbox" name="" id="" > Print Folios</label>  
                </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                  <p><b>copies</b><input type="number" name="" id="" style="height:34px;width:70px;margin-left: 40px"></p>    
              </div>
            </div>
          </div>
        <div class="row" style="padding:10px;">

          <table class="table table-bordered table-hover">
            <thead class="table" style="background-color: #0077B5;color: white">
              <tr>
                <th>Account Name</th>
                <th>Account No</th>
                <th>Blance</th>
                <th>Contact</th>
                <th>Type</th>
                <th>VIP</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td>Konnect hotel</td>
                <td>64033333</td>
                <td>67888</td>
                <td> </td>
                <td>OP</td>
                <td> </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
          <div class="text-center">
        <button type="button" class="btn btn-info" style="width:85px" data-dismiss="modal"><b>Preview</b></button>
        <button type="button" class="btn btn-primary" style="width:85px" data-dismiss="modal"><b>Print</b></button>
        <button type="button" class="btn btn-success" style="width:85px" data-dismiss="modal"><b>File</b></button>
        <button type="button" class="btn btn-warning" style="width:85px" data-dismiss="modal"><b>Fax</b></button>
        <button type="button" class="btn btn-info" style="width:85px" data-dismiss="modal"><b>Email</b></button>
        <button type="button" class="btn btn-primary" style="width:85px" data-dismiss="modal"><b>Folio Style</b></button>
        <button type="button" class="btn btn-success" style="width:85px" data-dismiss="modal"><b>Add Text</b></button>
        <button type="button" class="btn btn-danger" style="width:85px" data-dismiss="modal"><b>Close</b></button>
          </div>
      </div>
    </div>

  </div>
</div>
<!-- statement End -->