<!-- Alertinsert for roomcondition response -->

<div class="modal fade" id="insertroomcondition" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Connect 24/7 Hotel</h4>
      </div>
      <div class="modal-body">
        <p align="center">{{newroom}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>



<!---Alertupdate for roomcondition response-->

<div class="modal fade" id="updateroomcondition" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Connect 24/7 Hotel</h4>
      </div>
      <div class="modal-body">
        <p align="center">{{newroom1}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>


<!---Alertdelete for roomcondition response-->
<!-- infocuit -->
<div class="modal fade" id="deleteroomcondition" role="dialog">
  <div class="modal-dialog" style="margin-top: 104px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Connect 24/7 Hotel</h4>
      </div>
      <div class="modal-body">
        <p align="center">{{newroom2}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>

<body>
  <div class="wrapper">
    <div class="content-wrapper">
      <br>
      <div class="container-fluid">
        <div class="panel panel-default martop">
          <div class="panel-body">
            <form action="" #temVarNa="ngForm" >
              
          
            <div class="row">

              <div class="col-lg-3">
                <div class="col-lg-12">
                  <input type="checkbox" name="notres" [(ngModel)]="checkboxflg.notreser" (change)="filtercheckboxData(checkboxflg.notreser,'not reserved')"><b
                    style="padding-left:10px;">NotReserved</b>
                </div>
                <div class="col-lg-12" style="margin-top:10px">
                  <b>Condition</b>
                  <select required name="con" style="height:34px;color:black;border-radius:4px;width:100%;color:black;"
                    [(ngModel)]="rctypeselection" (change)="onSelect4(rctypeselection)">
                    <option *ngFor="let conditionlist of condition" [ngValue]="conditionlist.rm_condition">{{conditionlist.rm_condition}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="col-lg-12">
                  <input type="checkbox" name="res" [(ngModel)]="checkboxflg.reser" (change)="filtercheckboxData(checkboxflg.reser,('reserved'&&'Reserved'))"><b
                    style="padding-left:10px;">Reserved</b>
                </div>
                <div class="col-lg-12" style="margin-top:10px">

                  <b>Room Class</b>
                  <select required name="roomclass" style="height:34px;color:black;border-radius:4px;width:100%;color:black;"
                    [(ngModel)]="testclass" (change)="onSelect6(testclass)">
                    <option *ngFor="let roomclasses of class" [ngValue]="roomclasses.class">{{roomclasses.class}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="col-lg-12">
                  <input type="checkbox" name="vac" [(ngModel)]="checkboxflg.checkvacnt" (change)="filtercheckboxData(checkboxflg.checkvacnt,'vaccant')"><b
                    style="padding-left:10px;">Vaccant</b>
                </div>
                <div class="col-lg-12" style="margin-top:10px">
                  <b>Room</b>
                  <select required name="room" style="height:34px;color:black;border-radius:4px;width:100%;color:black;"
                    [(ngModel)]="rooms" (change)="onSelect5(rooms)">
                    <option *ngFor="let roomconditionlist of roomcondition" [ngValue]="roomconditionlist.rm_room">{{roomconditionlist.rm_room}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="col-lg-12">
                  <input type="checkbox" name="occ" [(ngModel)]="checkboxflg.checkocc" (change)="filtercheckboxData(checkboxflg.checkocc,'occupied')"><b
                    style="padding-left:10px;">Occupied</b>
                </div>
                <div class="col-lg-12" style="margin-top:30px">
                  <button class="btn btn-info" style="width:100%" (click)="clr(temVarNa)" >Clear All</button>
                </div>
              </div>
            </div><br>
          </form>
          </div>
        </div>
      </div>

      <div class="container-fluid">

        <table class="table table-bordered table-responsive table-hover">
          <thead style="background-color:#0077B5;color:white;">
            <tr>
              <!-- <th>X</th> -->
              <th>Room</th>
              <th>Room Type</th>
              <th>Room Status</th>
              <th>FO Status</th>
              <th>Features</th>
              <th>Room Condition</th>
              <th>Room Class</th>
              <!-- <th>Room Description</th> -->
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let roomcondition of room ; let i=index;" (click)="selectRoomEdit(roomcondition,i)" [ngClass]="{'backGroundColor':i==selectindex}">
              <!-- <td><input type="checkbox"></td> -->
              <td>{{roomcondition?.rm_room}}</td>
              <td>{{roomcondition?.rm_room_type |titlecase}}</td>
              <td>{{roomcondition?.rm_room_status |titlecase}}</td>
              <td>{{roomcondition?.rm_fo_status |titlecase}}</td>
              <td>{{roomcondition?.rm_features |titlecase}}</td>
              <td>{{roomcondition?.rm_condition |titlecase}}</td>
              <td>{{roomcondition?.rm_room_class }}</td>
            </tr>


          </tbody>
        </table>


      </div><br>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1">

          </div>

          <div class="col-lg-2">
            <button type="button" class="btn btn-success" style="width:100%;" routerLink="/reservation"><b>Resv.</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-primary" style="width:100%;" data-toggle="modal" data-target="#new"
              [disabled]=new><b>New</b></button>
          </div>
          <div class="col-lg-2">

            <button type="button" class="btn btn-info" style="width:100%;" data-toggle="modal" data-target="#newupdate"
              [disabled]=edit><b>Edit</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-warning" style="width:100%;" (click)="delete(user1)" [disabled]=deleted
              data-toggle="modal" data-target="#deleteroomcondition" data-dismiss="modal"><b>Delete</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-danger" style="width:100%;" routerLink="/mains"><b>Close</b></button>
          </div>

          <div class="col-lg-1">

          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<div class="modal fade" id="new" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0077B5;color:white;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Room Conditions-New</h4>
      </div>
      <div class="modal-body">

          <div class="row">
              <div class="col-lg-4">
                <b>Room</b>
              </div>
    
              <div class="col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
                  <select required style="height:34px;color:black;border-radius:4px;width:100%;color:black;"[(ngModel)]="roomno">
                  <option *ngFor="let roomconditionlist of roomcondition" [ngValue]="roomconditionlist.rm_room">{{roomconditionlist.rm_room}}
                  </option>
                </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <b>Room Condition</b>
                </div>
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
                    <select name="romm condition"equired style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="rmc">
                      <option *ngFor="let conditionlist of condition" [ngValue]="conditionlist.rm_condition">{{conditionlist.rm_condition}}
                      </option>
                    </select>
                  </div>
                </div>
              </div><br>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submit(user1)" data-toggle="modal" data-target="#insertroomcondition" data-dismiss="modal"><b>Ok</b></button> -->
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submit(rmc,roomno)"><b>Ok</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" id="newupdate" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0077B5;color:white;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Room Conditions-Edit</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <b>Room</b>
          </div>

          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
              <select required style="height:34px;color:black;border-radius:4px;width:100%;color:black;"[(ngModel)]="roomss">
              <option *ngFor="let roomconditionlist of roomcondition" [ngValue]="roomconditionlist.rm_room">{{roomconditionlist.rm_room}}
              </option>
            </select>
            </div>
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <b>Room Condition</b>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
              <select name="roomcondition" required style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="rmc">
                <option *ngFor="let conditionlist of condition" [ngValue]="conditionlist.rm_condition">{{conditionlist.rm_condition}}
                </option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="update(rmc,roomss)"><b>Ok</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>