<!--pdf-->
<div class="modal fade" id="myModal" role="dialog" #myModal>
  <div class="modal-dialog" style="width:60%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">QueueRoom Report</h4>
      </div>
      <div class="modal-body">
        <div class="scroll">
          <table class="table table-bordered table-responsive table-hover">
            <thead style="background-color:#0077B5;color:white;">
              <tr>
                <th>X</th>
                <th>Q-time</th>
                <th>Room</th>
                <th>Room Type</th>
                <th>Room Status</th>
                <th>FO status</th>
                <th>Name</th>
                <th>VIP</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let queueroom of queuerooms;let i = index">
                <td><input type="checkbox"></td>
                <td>{{queueroom?.rm_qtime}}</td>
                <td>{{queueroom?.res_room}}</td>
                <td>{{queueroom?.res_room_type}}</td>
                <td>{{queueroom?.roomstatus}}</td>
                <td>{{queueroom?.frontoffice}}</td>
                <td>{{queueroom?.pf_firstname}}</td>
                <td>{{queueroom?.rm_vip}}</td>


              </tr>
              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>
              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>
              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>

              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>

              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>
              <tr style="height:40px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="downloadPDF()"><b>Download as Pdf</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>




<body>
  <div class="wrapper">
    <div class="content-wrapper">
<br>
      <div class="container-fluid" >

        <div class="panel panel-default martop" >
          <div class="panel body" style="margin-bottom: 0px;">
            <div class="row" style="margin-left: 10px;margin-top:10px;margin-bottom:10px;">

              <div class="col-md-1">
                <b>RoomType</b>
              </div>

              <div class="col-md-2">
                <select required style="height:34px;;border-radius:4px;width:100%;" [(ngModel)]="rm_room_type" >
                  <option *ngFor="let selectlist of listroom" [ngValue]="selectlist.type">{{selectlist.type}} </option>
                </select>
              </div>



              <div class="col-md-1">
                <b>Room</b>
              </div>

              <div class="col-md-2">
                <select required style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="queueroom" >
                  <option *ngFor="let selectroomlist of room" [ngValue]="selectroomlist.rm_room">{{selectroomlist.rm_room}}
                    </option>
                </select>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <button class="btn btn-success" (click)="cleardata()">Clear All</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid" >
        <div class="row" style="margin-top: -13px;">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading"><b>Average Time in Queue</b><b style="margin-left:50%"> Total Rooms in Queue</b></div>
              <div class="panel-body">
                <div class="row">

                  <div class="col-lg-1">
                    <b>Current</b>
                  </div>
                  <div class="col-lg-2">
                    <input type="text" style="height:34px;color:black;border-radius:4px;width:100%;color:black;" 
                    name="current" class="form-control" [value]="now" [(ngModel)]="now" required disabled>
                  </div>
                  <div class="col-lg-1">

                  </div>
                  <div class="col-lg-1">
                    <b>Actual</b>
                  </div>
                  <div class="col-lg-2">
                    <input type="text" style="height:34px;color:black;border-radius:4px;width:100%;color:black;" class="form-control" [(ngModel)]="actual">
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-2">
                    <input type="text" style="height:34px;color:black;border-radius:4px;width:100%;color:black;" name="totalroom" class="form-control" [(ngModel)]="queue.room_type_totel">
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-8">

            <!-- <div class="panel panel-primary">
          <div class="panel-heading" style="height:40px;"></div>
          <div class="panel-body"> -->
            <div class="scroll">
              <table class="table table-bordered table-responsive table-hover">
                <thead style="background-color:#0077B5;color:white;">
                  <tr>
                    <th>X</th>
                    <th>Q-time</th>
                    <th>Room</th>
                    <th>Room Type</th>
                    <th>Room Status</th>
                    <th>FO status</th>
                    <th>Name</th>
                    <th>VIP</th>


                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let queueroom of queuerooms|searchfilter:{res_room_type:rm_room_type}|searchfilter:{res_room:queueroom};let i = index" 
                  (click)="selectrow(queueroom)">
                    <td><input type="checkbox"></td>
                    <td>{{queueroom?.rm_qtime}}</td>
                    <td>{{queueroom?.res_room}}</td>
                    <td>{{queueroom?.res_room_type}}</td>
                    <td>{{queueroom?.roomstatus}}</td>
                    <td>{{queueroom?.frontoffice}}</td>
                    <td>{{queueroom?.pf_firstname}}</td>
                    <td>{{queueroom?.rm_vip}}</td>


                  </tr>
                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>
                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>
                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>

                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>

                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>
                  <tr style="height:40px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>


                  </tr>
                </tbody>
              </table>
            </div>
            <!-- </div>
        </div> -->
          </div>

          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading"><b>Over View</b></div>
              <div class="panel-body">
                <table class="table table-bordered table-responsive table-hover" style="max-height: 250px;overflow-y: auto;">
                  <thead style="background-color:#0077B5;color:white;">
                    <tr>
                      <th>Room Type</th>
                      <th>Total</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let queueroom of queue;let i = index">

                      <td>{{queueroom.room_type}}</td>
                      <td>{{queueroom.room_type_totel}}</td>


                    </tr>
                    <tr style="height:37px;">
                      <td></td>
                      <td></td>
                    </tr>
                    <tr style="height:37px;">
                      <td></td>
                      <td></td>
                    </tr>
                    <tr style="height:37px;">
                      <td></td>
                      <td></td>
                    </tr>
                    <tr style="height:37px;">
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>


        </div>

      </div>

      <div class="container-fluid" >
        <div class="row">
          <div class="col-lg-3">

          </div>

          <!-- <div class="col-lg-2">
            <button type="button" class="btn btn-primary" style="width:100%;"><b>Statistics</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-info" style="width:100%;"><b>Details</b></button>
          </div> -->
          <div class="col-lg-2">
            <button type="button" class="btn btn-success" style="width:100%;" routerLink="/reservation"><b>Resv.</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-warning" style="width:100%;" data-toggle="modal" data-target="#myModal"><b>Report</b></button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-danger" style="width:100%;"><b>close</b></button>
          </div>

          <div class="col-lg-3">

          </div>
        </div>

      </div>
    </div>
  </div>
</body>