<body>
    <div class="wrapper">
        <div class="content-wrapper">
          <br>
          <div class="container-fluid">
            <div class="panel panel-default">
              <div class="panel-body">
                <form action="">
                  <div class="row">
                    <div class="col-md-3">
                      <b>Date</b>
                      <div class="input-group">
                        <input type="date" name="" id="" style="height:34px;width:250px;">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <b>Folio No</b>
                      <div class="input-group">
                        <input type="text" name="" id="" style="height:34px;width:250px;">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <b>Invoice No</b>
                      <div class="input-group">
                        <input type="text" name="" id="" style="height:34px;width:250px;">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <b>Account Balance</b>
                      <div class="input-group">
                        <input type="text" name="" id="" style="height:34px;width:250px;">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                      <div class="input-group">
                        <label for=""><input type="radio" name="" id=""> All Invoice</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label for=""><input type="radio" name="" id=""> Open Invoice</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label for=""><input type="checkbox" name="" id=""> Payment Only</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-warning">Clear</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <br>
            <table class="table table-bordered table-hover">
              <thead style="background-color: #0077B5;color: white">
                <tr>
                  <th>Seq</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Folio NO</th>
                  <th>Invoice No</th>
                  <th>Amount</th>
                  <th>Open</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>padmanabhan</td>
                  <td>10/10/2018</td>
                  <td>300</td>
                  <td>1</td>
                  <td>140</td>
                  <td>150</td>
                </tr>
              </tbody>
      
            </table>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <button type="button" class="btn btn-info" style="width:130px"> New</button>
                <button type="button" class="btn btn-success" style="width:130px;margin-left: 10px">Edit</button>
                <button type="button" class="btn btn-info" style="width:130px;margin-left: 10px" routerLink="/Invoice">Invoice</button>
                <button type="button" class="btn btn-warning" style="width:130px;margin-left: 10px">Payment</button>
                <button type="button" class="btn btn-primary" style="width:130px;margin-left: 10px">Compress</button>
                <button type="button" class="btn btn-info" style="width:130px;margin-left: 10px">Options</button>
                <button type="button" class="btn btn-danger" style="width:130px;margin-left: 10px">close</button>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div> 
</body>

