<body>
  <div class="wrapper"> 
  <div class="content-wrapper">
  <br>
  <div class="container-fluid">
  <div class="panel panel-default">
  <div class="panel-body">
  <form #accForm="ngForm">
  <div class="row">
  <div class="col-md-3" style="margin-top: -5px;">
  <label>Date</label>
  <input type="date" class="form-control" id="name" name="name" [(ngModel)]="invoicedate" >
  </div>
  <div class="col-md-3">
  <b>Folio No</b>
  <div class="input-group">
  <input type="text" class="form-control" name="Folio" id="Folio"  [(ngModel)]="ac_folio"  style="height:34px;width:250px;">
  </div>
  </div>
  <div class="col-md-3">
  <b>Invoice No</b>
  <div class="input-group">
  <input type="text" name="Invoice" id="Invoice" style="height:34px;width:250px;" [(ngModel)]="Invoice">
  </div>
  </div>
  <div class="col-md-3">
  <b>Account Balance</b>
  <div class="input-group">
  <input type="text" name="Balance" id="Balance" style="height:34px;width:250px;" [(ngModel)]="Invoice1">
  </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px;">
  <div class="col-md-3">
  <div class="input-group">
  <label for=""><input type="radio" name="name" id="name" (change)="radio_bt_fil('all_inv')" > All Invoice</label>
  </div>
  </div>
  <div class="col-md-3">
  <div class="input-group">
  <label for=""><input type="radio" name="name" id="name" (change)="radio_bt_fil('open_inv')" > Open Invoice</label>
  </div>
  </div>
  <div class="col-md-3">
  <div class="input-group">
  <label for=""><input type="radio" name="name" id="name" (change)="radio_bt_fil('pay_oly')" > Payment Only</label>
  </div>
  </div>
  <div class="col-md-3">
  <button type="button" class="btn btn-warning" (click)="accForm.reset()">Clear</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  <br>
  <table class="table table-bordered table-hover">
  <thead style="background-color: #0077B5;color: white">
  <tr >
  <th>X</th>
  <th>Seq</th>
  <th>Name</th>
  <th>Account number</th>
  <th>Date</th>
  <th>Folio No</th>
  <th>Invoice No</th>
  <th>Amount</th>
  <th>Open</th>
  </tr>
  </thead>
  <tbody>
  <contextmenu #contextmenu style="width:70%;">
  <div class="dropdown open">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" data-toggle="modal" href="#unapply">Unapply</a><br>
  <a class="dropdown-item" data-toggle="modal" href="#uncompress">uncompress
  </a><br>
 
  </div>
  </div>
  </contextmenu>
  <tr *ngFor="let ar_table_value of ac_maintain_tabl | filterdata: invoicedate :'invoice_date' | filterdata: Invoice :'invoice_no' | filterdata: Invoice1 :'invoice_amount';let i=index "
  (click)="selectMembersEdit(i,ar_table_value)" [ngClass]="{'backGroundColor':i==selectindex,'backgroundcolorgreenchange':ar_table_value.acc_invoice_satus=='Compress'}"
  [contextmenu]="[contextmenu,{item:item}]">
  <td > 
  <input type="checkbox" id="one" (checked)="exist(ar_table_value)" (click)="toggleSelection(ar_table_value)"> 
  </td>
  <td >{{i+1}}</td>
  <td>{{ar_table_value.account_name}}</td>
  <td>{{ar_table_value.account_number}}</td>
  <td>{{ar_table_value.invoice_date}}</td>
  <td>{{ar_table_value.folio_no}}</td>
  <td>{{ar_table_value.invoice_no}}</td>
  <td>{{ar_table_value.invoice_amount}}</td>
  <td>{{ar_table_value.open_amount}}</td>
  </tr>
  
  </tbody>
 
  </table>
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <button type="button" class="btn btn-info" style="width:110px" data-target="#invoice" data-toggle="modal">
  New</button>
  <button type="button" class="btn btn-success" style="width:110px;margin-left: 10px" disabled>Edit</button>
  <button type="button" class="btn btn-info" style="width:110px;margin-left: 10px" routerLink="/Invoice" [disabled]="enablebut">Invoice</button>
  <button type="button" class="btn btn-warning" style="width:110px;margin-left: 10px" data-target="#payment"
  data-toggle="modal" [disabled]="enablebut">Payment</button>
  <button type="button" class="btn btn-primary" style="width:110px;margin-left: 10px" data-target="#Compress1"
  data-toggle="modal" disabled>Compress</button>
  <button type="button" class="btn btn-info" style="width:110px;margin-left: 10px" routerLink="/Accountoptions">Options</button>
  <button type="button" class="btn btn-danger" style="width:110px;margin-left: 10px" routerLink="/newaraccount">close</button>
  </div>
  <div class="col-md-1"></div>
  </div>
  </div>
  <br>
  <br>
  </div>
  </div>
 </body>
 
 <!-- New Invoice start-->
 <div class="modal modal-open" id="invoice" role="dialog">
  <div class="modal-dialog">
  
  <!-- Modal content-->
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title" align="center">New Invoice</h4>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="col-md-6">
  <p><b> Guest</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:250px;" [(ngModel)]="newinvoice.guest" required>
  </div>
  </div>
  <div class="col-md-6">
  <p><b> Market</b></p>
  <div class="input-group">
  <select style="height:34px;width:250px;" id="name" name="newmarkt" [(ngModel)]="newinvoice.market_code" required>
  <option *ngFor="let mark of market_val" [ngValue]="mark.id">{{mark.marketgroup}}</option>
  </select>
  </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px">
  <div class="col-md-6">
  <p><b> Source</b></p>
  <div class="input-group">
  <select name="" id="" style="height:34px;width:250px;" name="newsour" [(ngModel)]="newinvoice.source_code" required>
  <option *ngFor="let src of source_val" [ngValue]="src.id">{{src.sourcecode}}</option>
  </select>
  </div>
  </div>
  <div class="col-md-6">
  <p><b> Room Class</b></p>
  <div class="input-group">
  <select name="" id="" style="height:34px;width:250px;" [(ngModel)]="newinvoice.roomclass_code" required>
  <option *ngFor="let rmcls of room_cls_val" [ngValue]="rmcls.id">{{rmcls.class}}</option>
  </select>
  </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px">
  <div class="col-md-6">
  <p><b> Invoice supplement</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:250px;" [(ngModel)]="newinvoice.supp" required> 
  </div>
  </div>
  <div class="col-md-6">
  <p><b> Invoice Reference</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:250px;" [(ngModel)]="newinvoice.refr" required>
  </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#post" (click)="newinvoicefun(newinvoice)"><b>Ok</b></button>
  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
 
  </div>
  </div>
 
  </div>
 </div>
 
 <!-- //new post modal -->
 
 <!-- post Modal -->
 <div id="post" class="modal modal-open" role="dialog">
  <div class="modal-dialog modal-lg">
  
  <!-- Modal content-->
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Post</h4>
  </div>
  <div class="modal-body">
  <div class="row">
  <table class="table table-bordered table-hover">
  <thead>
  <tr style="background-color: #337ab7;color: white;">
  <th>Code</th>
  <th>Description</th>
  <th>Amount</th>
  <th>Qty</th>
  <th>Window</th>
  <th>Arr.Code</th>
 
  <th>Check_No</th>
  <th>Supplement</th>
  <th>Reference</th>
  <th width=10%></th>
  </tr>
  <tr>
  <td>
  <select style="width:100%;" [(ngModel)]="add.Code">
  <option *ngFor="let ratecdlist of pscd_dd" [ngValue]="ratecdlist.posting_code_description">{{ratecdlist.posting_code}}</option>
  </select>
  </td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Code" disabled/></td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Amount" /></td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Qty" /></td>
  <td>
  <select style="width: 100%;height: 25px;" [(ngModel)]="add.Windowno">
  <option value="" hidden>select value</option>
  <option value="101">1</option>
  <option value="102">2</option>
  </select>
  <!-- <input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Windowno"/> -->
  </td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Arr_Code" /></td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Check_No" /></td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Supplement" /></td>
  <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Reference" /></td>
  <td style="width: 86px;"><span>
  <i style="padding-left: 34px;cursor: pointer;" (click)="addRows(add)" class="fa fa-plus-circle" aria-hidden="true"></i>
  </span></td>
 
  </tr>
  </thead>
  <tbody>
  
  <tr *ngFor="let room of showdetails ; let i=index;">
 
  <td><label *ngIf="room.editFlag==false">{{room.Post_code_id}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_code_id" disabled></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Post_des}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_des" disabled></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Posting_amount}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_amount"></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Posting_quantity}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_quantity"></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Post_window}}</label>
  <select style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_window">
  <option value="" hidden>select value</option>
  <option value="1">1</option>
  <option value="2">2</option>
  </select>
  <!-- <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_window"> -->
  </td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Arrangement_code}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Arrangement_code"></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Checkno}}</label>
  <input type="number" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Checkno"></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Posting_supplement}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_supplement"></td>
 
  <td><label *ngIf="room.editFlag==false">{{room.Posting_reference}}</label>
  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_reference"></td>
 
 
  <td style="width: 86px;"><span><i style="cursor: pointer;" class="fa fa-trash" aria-hidden="true" (click)="deleterows(i)"></i>
  &nbsp;&nbsp;&nbsp;
  <i style="cursor: pointer;" *ngIf="room.editFlag==false" class="fa fa-pencil" aria-hidden="true" (click)="editrows(i,room)"></i>
  <i style="cursor: pointer;" *ngIf="room.editFlag!=false" class="fa fa-check" aria-hidden="true" (click)="saveButton(i,room)"></i>
  </span></td>
 
  </tr>
 
  </tbody>
 
  </table>
  </div>
  <!-- <div class="row">
  <div class="col-md-3">
  <div class="form-group">
  <label>Total Postings</label>
  <input type="number" class="form-control" id="postings" name="postings" disabled [(ngModel)]="totalPos" />
  </div>
  </div>
  <div class="col-md-3">
  <div class="form-group">
  <label>Total Postings</label>
  <input type="number" class="form-control" id="postings" name="postings" disabled [(ngModel)]="totalamt" />
  </div>
  </div>
  </div> -->
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="saveroomDetails()">Post</button>
  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearpost()">Close</button>
  </div>
  </div>
  
  </div>
  </div>
 <!-- New Invoice End -->
 
 <!-- payment start-->
 <div class="modal fade" id="payment" role="dialog">
  <div class="modal-dialog">
 
  <!-- Modal content-->
  <div class="modal-content" >
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title" align="center"> Payment</h4>
  </div>
  <form #paymentForm="ngForm">
  <div class="modal-body">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
  <b>Payment Code</b>
  </div>
  <div class="col-md-4" [class.has-error]="paymentcode.touched && paymentcode.invalid">
  <div class="form-group">
  <select  class="form-control input-sm" id="paymentcode" name="paymentcode"style="height:34px;width:200px;" [(ngModel)]="paycode.paycode" (change)="change_pay_val(paycode.paycode)" #paymentcode="ngModel" required>
  <option *ngFor="let paymnt of payment_val" [ngValue]="paymnt.id">{{paymnt.paymenttype}}</option>
  </select>
  <div *ngIf="paymentcode.touched && !paymentcode.valid && paymentcode.errors?.required " ngClass="{ 'has-error' : !paymentcode.valid && submitAttempt }">
  </div>
  </div>
  </div>
  <div class="col-md-3" style="margin-left: 42px;" *ngFor="let pay_desc of payment_code_desc">
  <b>{{pay_desc.payment_description}}</b>
  </div>
  </div>
  <div class="row">
  <br>
  <div class="col-md-3">
  <b>Currency</b>
  </div>
  <div class="col-md-4">
  <div class="form-group">
  <select name="pay_cur" id="paycurr" style="height:34px;width:200px;" [(ngModel)]="paycode.paycurrency" (change)="change_curr_val(paycode.paycurrency)" required>
  <option *ngFor="let curren of curr_val" [ngValue]="curren.id">{{curren.currency}}</option>
  </select>
  </div>
  </div>
  <div class="col-md-3" style="margin-left: 41px;" *ngFor="let cur_desc of currency_desc">
  <b>{{cur_desc.currency_description}}</b>
  </div>
  
  </div>
  <div class="row" >
  <br>
  <div class="col-md-3">
  <b>Amount</b>
  </div>
  <div class="col-md-4">
  <div class="form-group" [class.has-error]="payment.touched && payment.invalid">
    <input type="text" class="form-control input-sm" name="paymt" id="payamt" style="height:34px;width:202px;" [(ngModel)]="paycode.payamount" #payment="ngModel" required>
    <div *ngIf="payment.touched && !payment.valid && payment.errors?.required " ngClass="{ 'has-error' : !payment.valid && submitAttempt }">
    </div>
  </div>
  </div>
  <div class="col-md-3" style="margin-left: 43px;" *ngFor="let cur_desc of currency_desc">
  <b>{{cur_desc.currency}}</b>
  </div>
 
  </div>
  <div class="row">
  <br>
  <div class="col-md-3">
  <b>Supplement</b>
  </div>
  <div class="col-md-6">
  <div class="form-group" [class.has-error]="supplement.touched && supplement.invalid">
  <input type="text" class="form-control input-sm" id="supplememt" name="supplememt" [(ngModel)]="paycode.pay_supplement" #supplement="ngModel" required>
  <div *ngIf="supplement.touched && !supplement.valid && supplement.errors?.required " ngClass="{ 'has-error' : !supplement.valid && submitAttempt }">
  </div>
 </div>
  </div>
  </div>
  <div class="row">
  
  <div class="col-md-3">
  <b>Reference</b>
  </div>
  <div class="col-md-6">
  <div class="form-group" [class.has-error]="reference.touched && reference.invalid">
    <input type="text" class="form-control input-sm" id="reference" name="reference" [(ngModel)]="paycode.pay_reference" #reference="ngModel"required>
    <div *ngIf="reference.touched && !reference.valid && reference.errors?.required " ngClass="{ 'has-error' : !reference.valid && submitAttempt }">
    </div>
  </div>
  </div>
  </div>
  <div class="row">
  <!-- <div class="col-md-3" style="margin-top: 10px" *ngFor="let items of pay_type let i=index">
  <b>{{items.invoice_payment_type_description}}</b>
  </div> -->
  
  <div class="radio" *ngFor="let items of pay_type let i=index" >
  
  <input type="radio" value="{{items.invoice_payment_type_id}}" name="optradio" style="width: 2rem;height: 1.5rem;margin-left:10px;" (change)="radiobuttonchange(items,$event)" [(ngModel)]="paycode.paymnt_type_id" required><label style="margin-left:10px;">{{items.invoice_payment_type_description}}</label>
 
  <!-- <input type="radio" name="optradio" style="MARGIN-LEFT:-3PX;" [ngModel]="item.invoice_payment_type_id"> -->
  <!-- <input type="radio" name="optradio" style="MARGIN-LEFT:-3PX;" name="{{item.invoice_payment_type_id}}" [ngModel]="item.invoice_payment_type_id" id="{{items.invoice_payment_type_id}}"> -->
  </div>
  
  </div> 
  
  <hr>
  
  </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="paymentfun(paycode);paymentForm.reset()" [disabled]="!paymentForm.valid" ><b>Post</b></button>
  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="paymentForm.reset()"><b>Close</b></button>
 
  </div>
  </form>
  </div>
 
  </div>
 </div>
 <!-- Payment End -->
 
 <!-- compress modal starts-->
 <div class="modal fade" id="Compress1" role="dialog">
  <div class="modal-dialog">
 
  <!-- Modal content-->
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title" align="center"> Compress Invoice</h4>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="col-md-4">
  <p><b> Account Name</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:150px;" [(ngModel)]="comp.account_name">
  </div>
  </div>
  <div class="col-md-4">
  <p><b> Amount</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:150px;" [(ngModel)]="open_amt" disabled>
  </div>
  </div>
  <div class="col-md-4">
  <p><b> Market</b></p>
  <div class="input-group">
  <select style="height:34px;width:150px;" id="name" name="newmarkt" [(ngModel)]="comp.market_code" required>
  <option *ngFor="let mark of market_val" [ngValue]="mark.id">{{mark.marketgroup}}</option>
  </select>
  </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px">
  <div class="col-md-4">
  <p><b> Source</b></p>
  <select name="" id="" style="height:34px;width:150px;" name="newsour" [(ngModel)]="comp.source_code" required>
  <option *ngFor="let src of source_val" [ngValue]="src.id">{{src.sourcecode}}</option>
  </select>
  </div>
  <div class="col-md-4">
  <p><b> Room Class</b></p>
  <div class="input-group">
  <select name="" id="" style="height:34px;width:150px;" [(ngModel)]="comp.roomclass_code" required>
  <option *ngFor="let rmcls of room_cls_val" [ngValue]="rmcls.id">{{rmcls.class}}</option>
  </select>
  </div>
  </div>
  <div class="col-md-4">
  <p><b> Supplement</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:150px;" [(ngModel)]="comp.supplement">
  </div>
  </div>
  </div>
  <div class="row" style="margin-top:10px">
  <div class="col-md-4">
  <p><b> Reference</b></p>
  <div class="input-group">
  <input type="text" name="" id="" style="height:34px;width:150px;" [(ngModel)]="comp.reference"> 
  </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="compressfun(comp)"><b>Ok</b></button>
  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
 
  </div>
  </div>
 
  </div>
 </div>
 <!-- New Invoice End -->
 
 <!-- uncompress confirmation modal -->
 <div id="uncompress" class="modal fade" role="dialog">
  <div class="modal-dialog">
 
  <!-- Modal content-->
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Uncompress</h4>
  </div>
  <div class="modal-body">
  <b>Are you sure do you want to uncompress?</b>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="uncompress()">OK</button> 
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>
 
  </div>
 </div>
 
 
 <!-- The Modal -->
 <div class="modal" id="unapply">
  <div class="modal-dialog" style="margin-left: 207px;">
  <div class="modal-content modal-lg">
  
  <!-- Modal Header -->
  <div class="modal-header">
  <h4 class="modal-title">Unapplying Payments</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  
  <!-- Modal body -->
  <div class="modal-body">
  <div class="container-fluid">
  <div class="row">
  <table class="table table-bordered table-hover">
  <thead>
  <tr style="background-color: #337ab7;color: white;">
  <td>Invoice</td>
  <td>Code</td>
  <td>Description</td>
  <td>Date</td>
  <td>Amount</td>
  <td>Reference</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let unapp_table_value of unapp_tabl ;let i=index "
  (click)="select_unapply_Edit(i,unapp_table_value)" [ngClass]="{'backGroundColor':i==selectindexx}">
  <td>{{unapp_table_value.invoice_no}}</td>
  <td>{{unapp_table_value.payment_code}}</td>
  <td>{{unapp_table_value.payment_type}}</td>
  <td>{{unapp_table_value.posting_date}}</td>
  <td>{{unapp_table_value.posting_amount}}</td>
  <td>{{unapp_table_value.posting_reference}}</td>
  </tr>
  </tbody>
 
  </table>
 
  </div>
  </div>
  </div>
  
  <!-- Modal footer -->
  <div class="modal-footer">
  <div class="row">
  <button type="button" class="btn btn-warning" (click)="unapp_butfun()">Unapply</button>
  <button type="button" class="btn btn-primary">Unapply All</button>
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
  </div>
  
  </div>
  </div>
  </div>