<body>
    <div class="wrapper">
      <div class="content-wrapper">
    
    
        
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
          <div class="panel">
          <div class="panel-body" routerLink="/rominglist">
          <div class="text-center">  
          <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
          </div>
          <h4  align="center">RomingList</h4>
          <p  align="center"><small>Business block notes</small></p>
          </div>
          <div class="panel-footer">
          <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
          <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
          </div>
          </div>
          </div>
  
  
          <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
              <div class="panel">
              <div class="panel-body" data-toggle="modal" data-target="#changes">
              <div class="text-center">  
              <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
              </div>
              <h4  align="center">CheckInGroup</h4>
              <p  align="center"><small>Business block notes</small></p>
              </div>
              <div class="panel-footer">
              <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
              <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
              </div>
              </div>
              </div>
  
              <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                  <div class="panel">
                  <div class="panel-body" data-toggle="modal" data-target="#changes">
                  <div class="text-center">  
                  <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                  </div>
                  <h4  align="center">RoomAssin</h4>
                  <p  align="center"><small>Business block notes</small></p>
                  </div>
                  <div class="panel-footer">
                  <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                  <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                  </div>
                  </div>
                  </div>
  
                  <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                      <div class="panel">
                      <div class="panel-body" data-toggle="modal" data-target="#changes">
                      <div class="text-center">  
                      <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                      </div>
                      <h4  align="center">RoomStatus</h4>
                      <p  align="center"><small>Business block notes</small></p>
                      </div>
                      <div class="panel-footer">
                      <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                      <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                      </div>
                      </div>
                      </div>
  
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <div class="panel">
                <div class="panel-body" data-toggle="modal" data-target="#changes">
                <div class="text-center">  
                <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                </div>
                <h4  align="center">PrintRegistrationCards</h4>
                <p  align="center"><small>Business block notes</small></p>
                </div>
                <div class="panel-footer">
                <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                </div>
                </div>
                </div>
  
        <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
            <div class="panel">
            <div class="panel-body" data-toggle="modal" data-target="#changes">
            <div class="text-center">  
            <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
            </div>
            <h4  align="center">NewPostMaster</h4>
            <p  align="center"><small>Business block notes</small></p>
            </div>
            <div class="panel-footer">
            <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
            <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
            </div>
            </div>
            </div>
  
            <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                <div class="panel">
                <div class="panel-body" data-toggle="modal" data-target="#changes">
                <div class="text-center">  
                <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                </div>
                <h4  align="center">Delete</h4>
                <p  align="center"><small>Business block notes</small></p>
                </div>
                <div class="panel-footer">
                <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                </div>
                </div>
                </div>
  
                <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                    <div class="panel">
                    <div class="panel-body" data-toggle="modal" data-target="#changes">
                    <div class="text-center">  
                    <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                    </div>
                    <h4  align="center">CutKeys</h4>
                    <p  align="center"><small>Business block notes</small></p>
                    </div>
                    <div class="panel-footer">
                    <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                    <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                    </div>
                    </div>
                    </div>       
                <div class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
                   <div class="panel">
                      <div class="panel-body" data-toggle="modal" data-target="#changes">
                          <div class="text-center">  
                            <img src="assets/images/changes.jpg" alt="change" style="border-radius:50%;">
                                </div>
                                   <h4  align="center">Close</h4>
                                   <p  align="center"><small>Business block notes</small></p>
                                   </div>
                                  <div class="panel-footer">
                                  <p style="margin-top: 5px; margin-left: 20px;"><small><i class="fa fa-hand-o-right"></i> Cheanges</small></p>
                                  <p style=" margin-top:-10px; margin-left: 20px"><small><i class="fa fa-hand-o-right"></i> </small></p>
                                   </div>
                                   </div>
                                  </div>
                                  
    </div>
  </div>
  </body>