

<div class="modal fade" id="myModal" role="dialog" #myModal>
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content" style="width:150%;margin-left: -20%;margin-top: 4%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
          <table class="table table-bordered table-hover table-responsive" >
              <thead style="background-color:#0077B5;color:white;">
                <tr>
                  <th>X</th>
                  <th>Room</th>
                  <th>Room Type</th> 
                  <th>Room Status</th>
                   <th>Fo Status</th>
                  <th>Service Status</th>
                  <th>Floor</th>
                  <th>Room Class</th>
                  <th>Reservation Status</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let guestservicestatus of guestservice ; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{guestservicestatus?.rm_room}}</td>
                  <td>{{guestservicestatus?.rm_room_type}}</td>
                   <td>{{guestservicestatus?.rm_room_status}}</td>
                  <td>{{guestservicestatus?.rm_fo_status}}</td>
                  <td>{{guestservicestatus?.rm_service_status}}</td>
                  <td>{{guestservicestatus?.rm_floor}}</td>
                  <td>{{guestservicestatus?.rm_room_class}}</td>
                  <td>{{guestservicestatus?.rm_service_status}}</td>
                </tr>
                
              </tbody>
            </table>
      
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="downloadPDF()"><b>Download as Pdf</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>
    
  </div>
</div>


<body>
    <div class="wrapper">
      <div class="content-wrapper">
        <br>
<div class="container-fluid">
<div class="panel panel-default martop">
  <div class="panel-body">  
    <form action="" #res="ngForm">
        <b style="padding-left:70px;"><u>Room Status</u></b>
        <div class="row">
        <div class="col-lg-3">
       <input type="checkbox" name="cek" [(ngModel)]="checkboxflg.checkcln" (change)="filtercheckboxData(checkboxflg.checkcln,('clean'&&'Clean'))"><b style="padding-left:5px;">Clean</b><br>
       <input type="checkbox" name="dir" [(ngModel)]="checkboxflg.checkDir"  (change)="filtercheckboxData(checkboxflg.checkDir,('dirty'&&'Dirty'))"><b style="padding-left:5px;">Dirty</b><br>
       <input type="checkbox" name="pik" [(ngModel)]="checkboxflg.checkpkup" (change)="filtercheckboxData(checkboxflg.checkpkup,'pick up')"><b style="padding-left:5px;">Pick Up</b><br>
        </div>
        <div class="col-lg-3">
            <input type="checkbox" name="inp" [(ngModel)]="checkboxflg.checkinp" (change)="filtercheckboxData(checkboxflg.checkinp,('inspected'&&'Inspected'))"><b style="padding-left:5px;">Inspected</b><br>
            <input type="checkbox" name="ord" [(ngModel)]="checkboxflg.checkord" (change)="filtercheckboxData(checkboxflg.checkord,('out of order'&&'Out Of Order'))"><b style="padding-left:5px;">Out Of Order</b><br>
            <input type="checkbox" name="ser" [(ngModel)]="checkboxflg.checkser" (change)="filtercheckboxData(checkboxflg.checkser,('out of service'&&'Out Of Service'))"><b style="padding-left:5px;">Out Of Service</b><br>
          </div>
           <div class="col-lg-3">     
            <div class="col-lg-12">
                <b>ServiceStatus</b>
                <select  required name="service" style="height:34px;color:black;border-radius:4px;width:100%;color:#000000;" [(ngModel)]="servicestatus" (ngModelChange)="onSelect8(servicestatus)">
                    <option *ngFor="let servicestatuslist of service" [ngValue] = "servicestatuslist.servicestatus_code">{{servicestatuslist.servicestatus_code}} </option>
                      </select>
                  </div><br><br>
             <div class="col-lg-12">
                <b>Room</b>
                <select name="room" required style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="guestroom" (ngModelChange)="onSelect7(guestroom)">
                    <option *ngFor="let guestlist of room" [ngValue] = "guestlist.rm_room">{{guestlist.rm_room}} </option>
                      </select>
                  </div>
                </div>
      
           <div class="col-lg-3">
             <div style="margin-top:20px">
                <button class="btn btn-warning" (click)="refre();res.reset()" > Clear All</button>
             </div>
           </div>     
      
       </div>
    </form>   
</div>
</div>
</div>



<div class="container-fluid">

  <table class="table table-bordered table-hover table-responsive">
      <thead style="background-color:#0077B5;color:white;">
        <tr>
          <th>X</th>
          <th>Room</th>
          <th>Room Type</th> 
          <th>Room Status</th>
           <th>Fo Status</th>
          <th>Service Status</th>
          <th>Floor</th>
          <th>Room Class</th>
          <th>Reservation Status</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guestservicestatus of guestservice ; let i = index" (click)="selectrow(guestservicestatus,i)">
          <td>{{i+1}}</td>
          <td>{{guestservicestatus?.rm_room}}</td>
          <td>{{guestservicestatus?.rm_room_type}}</td>
           <td>{{guestservicestatus?.rm_room_status}}</td>
          <td>{{guestservicestatus?.rm_fo_status}}</td>
          <td>{{guestservicestatus?.rm_service_status}}</td>
          <td>{{guestservicestatus?.rm_floor}}</td>
          <td>{{guestservicestatus?.rm_room_class}}</td>
          <td>{{guestservicestatus?.rm_reservation_status}}</td>
        </tr>
      </tbody>
    </table>


</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
     <button type="button" class="btn btn-info" style="width:160px;" data-toggle="modal" data-target="#myModal"><b>Report</b></button>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" style="width:160px;"><b>Resv.</b></button>
       </div>
       <div class="col-lg-2">
          <button type="button" class="btn btn-success" style="width:160px;"[disabled]="servestatus" data-toggle="modal" data-target="#servicestatus" ><b> Guest service</b></button>
         </div>
         <div class="col-lg-2">
          <button type="button" class="btn btn-danger" style="width:160px;" routerLink="/mains"><b>Close</b></button>
         </div>
           
      <div class="col-lg-2"></div>

  </div>

</div>
</div>
</div>
</body>

<!--- Guestserviceststus response-->

<div class="modal fade" id="servicestatus" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Guest Services Status</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label for=""> Room No</label>
                <div class="input-group">  
                    <select  required name="room" style="height:34px;color:black;border-radius:4px;width:160px;color:black;" [(ngModel)]="user.rm_room">
                        <option *ngFor="let guestlist of room" [ngValue] = "guestlist.rm_room">{{guestlist.rm_room}} </option>
                          </select>
                  </div>
            </div>
            <div class="col-md-6">
                <label for=""> Guest Service Status</label>
                <div class="input-group">
                    <select  required style="height:34px;color:black;border-radius:4px;width:160px;color:#000000;" [(ngModel)]="user.rm_service_status" >
                        <option *ngFor="let servicestatuslist of service" [ngValue] = "servicestatuslist.servicestatus_code">{{servicestatuslist.servicestatus_code}} </option>
                          </select>
                  </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submit(user)"><b>OK</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>

  </div>
</div>


<!--Guestserviceststus response-->