
<div class="wrapper">
    
      
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
  <li><a><input type="text" placeholder="Search..."><span><button><i class="fa fa-search"></i></button></span></a>
    </li>
        <li><a href="#"><i class="fa fa-dashboard"> </i> Home</a></li>
        <li class="active">Dashboard</li>
  <li><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
      </ol>
    </section>
<br>
<div id="mySidenav" class="sidenav">
<h2>QUICK ACCESS</h2>
<ul>
<li href="javascript:void(0)" class="closebtn" onclick="closeNav()" >&times; </li> 
<br>
<li href="#"><i class="fa fa-building"></i> Floor Plan</li>
<li href="#"><i class="fa fa-money"></i> Currency   Calculator</li>
<li href="#"><i class="fas fa-exchange"></i> Exchange Rate</li>
<li href="#"><i class="fa fa-cogs"></i> Quick Keys</li>
<li href="#"><i class="fa fa-gift"></i> Event</li>
<li href="#"><i class="fa fa-calculator"></i> Calculator</li>
<li href="#"><i class="fa fa-calendar"></i> Calendar</li>
</ul>
</div>

    <!-- Main content -->
    <section class="content" onclick="closeNav()">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner" style="margin-left:-7px;">
              <h3 align="left">150</h3>
            </div>				
            <div class="icon" style="margin-right:-9px;margin-top:10px;">
              <i class="fa fa-check-square-o" style="font-size: 0.9em;"></i>
            </div>		
              <p style="margin-left:8px; margin-bottom:0px;" ><b>Check-In</b></p>					
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner" style="margin-left:-7px;">
              <h3>53<sup style="font-size: 20px">%</sup></h3>
            </div>
            <div class="icon" style="margin-right:-9px;margin-top:12px;">
              <i class="fa fa-external-link"  style="font-size: 0.9em;"></i>
            </div>
              <p style="margin-left:8px; margin-bottom:0px;" ><b>Check-Out</b></p>				
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner"style="margin-left:-7px;">
              <h3>44</h3>
            </div>
            <div class="icon" style="margin-right:-7px;margin-top:12px;">
              <i class="fa fa-calendar" style="font-size: 0.8em;" ></i>
            </div>
    <p style="margin-left:8px; margin-bottom:0px;" ><b>Reservation</b></p>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->	  
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner" style="margin-left:-7px;">
              <h3>150</h3>
            </div>
            <div class="icon" style="margin-right:-9px;margin-top:12px;" >
              <i class="fa fa-building" style="font-size: 0.8em;"></i>
            </div>
       <p style="margin-left:8px; margin-bottom:0px;" ><b>Room Availability</b></p>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner" style="margin-left:-7px;">
              <h3>53<sup style="font-size: 20px">%</sup></h3>
            </div>
            <div class="icon" style="margin-right:-7px;margin-top:12px;">
              <i class="fa fa-car" style="font-size: 0.9em;"></i> 
            </div>
              <p style="margin-left:8px; margin-bottom:0px;" ><b>Arrival</b></p>				
            <a href="#" class="small-box-footer" >More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-2 col-xl-2 col-md-2">
          <!-- small box -->
          <div class="small-box bg-Gainsboro" style="border:solid 1px DarkGray;">
            <div class="inner"style="margin-left:-7px;">
              <h3>65</h3>
            </div>
            <div class="icon" style="margin-right:-7px;margin-top:12px;">
              <i class="fa  fa-question-circle" style="font-size: 0.9em;"></i>
            </div>
              <p style="margin-left:8px; margin-bottom:0px;" ><b>Room Status</b></p>				
            <a href="#" class="small-box-footer" >More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div><!-- ./col -->
      </div>
  
    <div class="row">
            <div class="col-lg-4 col-xl-4  col-xs-4 col-md-4">
                <!-- Notifications-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i>Notifications Panel
                    </div>

                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i>New Comment
                                <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item" >
                                <i class="fa fa-envelope fa-fw"></i>Message Sent
                                <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i>New Task
                                <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                <span class="pull-right text-muted small"><em>11:32 AM</em>
                                </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i>Server Crashed!
                                <span class="pull-right text-muted small"><em>11:13 AM</em>
                                </span>
                            </a>
            <a></a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                    </div>
                </div>
                <!--End Notifications-->
            </div>
            <div class="col-lg-4 col-xl-4 col-xs-4 col-md-4">
                <!-- Donut Example-->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>Donut Chart Example
                    </div>
                    <div class="panel-body">
                        <div id="chartdiv" [style.width.%]="100" [style.height.px]="auto"></div>
                        <a href="#" class="btn btn-default btn-block">View Details</a>
                    </div>

                    

                </div>
                <!--End Donut Example-->
            </div>
            <div class="col-lg-4 col-xl-4 col-xs-4 col-md-4">
                <!-- Chat Panel Example-->
                <div class="chat-panel panel panel-primary" style="height:373px;">
                    <div class="panel-heading">
                        <i class="fa fa-comments fa-fw"></i>
                        Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh fa-fw"></i>Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-check-circle fa-fw"></i>Available
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-times fa-fw"></i>Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-clock-o fa-fw"></i>Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out fa-fw"></i>Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>12 mins ago
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. quis ullamcorper ligula sodales.Curabitur bibendum ornare dolor.
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Curabitur bibendum ornare dolor. quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                           <input type="text" placeholder="Type your text" size="30">
                            <span>
                                <button class="btn btn-primary btn-sm" id="btn-chat">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
                <!--End Chat Panel Example-->
            </div>
      </div><!-- /.row (main row) -->

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
</div>
