
.tableBodyScroll tbody {
    display:block;
    height: 260px;
    max-height:260px;
    overflow-y:scroll;
    table-layout:fixed;
    }
    .tableBodyScroll thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    }
  
   .backGroundColor{
       background-color:#D3D3D3;
   }