<div class="wrapper">
  <div class="content-wrapper">
      <br>
<div class="container-fluid">
 <div class="panel panel-primary">
   <div class="panel-body">
  <div  style="background-color:  white; ">
    <div class="row">

      <div class="col-sm-4">
         <b> First Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"></div>
      </div>

      <div class="col-sm-4">

          <b>Last Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"></div>
      </div>
	  
	    <div class="col-sm-4">
            <b>Company</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"></div>

          </div>
    

        </div>

        <div class="row" style="padding-top:10px;">

            <div class="col-lg-4">
                <b>Contact</b> <div class="input-group">
                     <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
                     <input type="text" class="form-control"></div>
             </div>

      <div class="col-lg-4">
          <b>Arrival From</b> <div class="input-group">
               <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="date" class="form-control"></div>
       </div>
 
       <div class="col-lg-4">
 
           <b>Arrival To</b> <div class="input-group">
               <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="date" class="form-control"></div>
       </div>
	  

    

        </div>


        <div class="row" style="padding-top:10px;">

          <div class="col-lg-4">
            <b>Group</b> <div class="input-group">
                 <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                 <input type="text" id="email" class="form-control"></div>
         </div>
         
      
            <div class="col-lg-4">
      
                <b>Source</b> <div class="input-group">
                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                    <input type="text" id="email" class="form-control"></div>
            </div>
          
            <div class="col-lg-4">
                  <b>Agent</b> <div class="input-group">
                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                    <input type="text" id="email" class="form-control"></div>
      
                </div>
          
      
              </div>

<br>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-2">
<button class="btn btn-info" style="width: 100%">Search <i class="fa fa-search"></i></button>    
</div>
<div class="col-md-2">
<button class="btn btn-success" style="width: 100%">Advance <i class="fa fa-edit"></i> </button>    
</div>
<div class="col-md-2">
<button class="btn btn-warning" style="width: 100%">Clear <i class="fa fa-square-o"></i></button>   
</div>
<div class="col-md-3"></div>

</div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
  <div  style="background-color: white; " >
<div class="row" style=" margin-left: 10px;">
  <legend><b>Advanced Search</b></legend>
</div>
  <div class="col-md-6">
    <form action="">
      <br>
        <div class="row">
            <div class="col-md-1"></div>          
          <div class="col-md-3">
            <label>Room Type</label>
          </div>
          <div class="col-md-8">
            <input type="text" name="name"/>
          </div>         
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>          
            <div class="col-md-3">
              <label>Stay On    </label>
            </div>
            <div class="col-md-8">
              <input type="date" name="name" style="width: 60%;color: black"/>
            </div>         
          </div>
          <br>
        <div class="row">
            <div class="col-md-1"></div>          
            <div class="col-md-3">
              <label>Room No</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div>
          <br>       
          <div class="row">
              <div class="col-md-1"></div>            
              <div class="col-md-3">
                <label>Room Class</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="name"/>
              </div>         
            </div> <br>                                    
        <div class="row">
            <div class="col-md-1"></div>          
            <div class="col-md-3">
              <label>Market code</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div>
          <br>
          <div class="row">
              <div class="col-md-1"></div>            
            <div class="col-md-3">
              <label>Res. Type</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div>
          <br>  
        <div class="row">
            <div class="col-md-1"></div>          
            <div class="col-md-3">
              <label> Source Code</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div>
          <br>
          <div class="row">
              <div class="col-md-1"></div>            
              <div class="col-md-3">
                <label>Rate Code</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="name"/>
              </div>         
            </div>
            <br>                                         
        <div class="row">
            <div class="col-md-1"></div>          
            <div class="col-md-3">
              <label>Country</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div> <br>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <label>Credit Card #</label>
              </div>
              <div class="col-md-8">
                <input type="text" name="name"/>
              </div>         
            </div>             

        </form>
  </div>




  <div class="col-md-6">
    <form action="">
      <legend><b>Created</b></legend>
      <br>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <label>On</label>
          </div>
          <div class="col-md-8">
            <input type="text" name="name"/>
          </div>         
        </div>  <br>                  
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <label>By</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="name"/>
            </div>         
          </div><br>
      <legend><b>Search type</b></legend>
      <br>
      <div class="row">
          <div class="col-md-1"></div>        
          <div class="col-md-5">
            <label><input type="radio" name="optradio">General</label>
          </div>
          <div class="col-md-5">
              <label><input type="radio" name="optradio">Checked In</label>
          </div>         
        </div>   <br>                 
      <div class="row">
          <div class="col-md-1"></div>        
          <div class="col-md-5">
            <label><input type="radio" name="optradio">Day Use</label>
          </div>
          <div class="col-md-5">
              <label><input type="radio" name="optradio">CheckOut</label>
          </div>         
        </div>   <br>
        <div class="row">
            <div class="col-md-1"></div>          
          <div class="col-md-5">
            <label><input type="radio" name="optradio">Due In</label>
          </div>
          <div class="col-md-5">
              <label><input type="radio" name="optradio">No Shows</label>
          </div>         
        </div>   <br> 
        <div class="row">
            <div class="col-md-1"></div>          
          <div class="col-md-5">
            <label><input type="radio" name="optradio">Due Out</label>
          </div>
          <div class="col-md-5">
              <label><input type="radio" name="optradio">Complimentary</label>
          </div>         
        </div>   <br>                 
      <div class="row">
          <div class="col-md-1"></div>        
          <div class="col-md-5">
            <label><input type="radio" name="optradio">Waitlist</label>
          </div>
        
        </div>                        

    </form>
  </div>


</div>

<br>

<div>
  <button class="btn btn-info" style="width:10%;"routerLink="/reservation">New <i class="fa fa-square-o"></i></button>    
  <button class="btn btn-primary disabled"style="width:10%">Check-in <i class="fa fa-sign-in"></i> </button>    
  <button class="btn btn-warning disabled" style="width:11%">Cancle <i class="fa fa-tasks"></i></button>   
  <button class="btn btn-info disabled" style="width:11%">Reinstate <i class="fa fa-tasks"></i></button>   
  <button class="btn btn-success disabled" style="width:10%">Reg. Card <i class="fa fa-credit-card"></i></button>   
  <button class="btn btn-info disabled" style="width:10%"> Profile <i class="fa fa-user"></i></button>   
  <button class="btn btn-primary disabled" style="width:10%"> Options <i class="fa fa-caret-square-o-down"></i></button>   
  <button class="btn btn-success disabled" style="width:10%"> Edit <i class="fa fa-edit"></i></button>   
  <button class="btn btn-danger" style="width:10%" routerLink="/checkin"> Close <i class="fa fa-close"></i></button>   

  </div>



</div>
</div>
