<body>
  <div class="wrapper">
      <div class="content-wrapper">
  <div class="continer-fluid">
  <div class="col-md-5">
   
      <div class="panel panel-primary" style="border:solid 1px; margin-left: 14px;border-color: lightgray">
          <legend style="margin-left:3px;background-color: #0077B5;color:white;" >DataRange</legend>
          <div class="panel-body">
              <div class="row">
            <div class="col-md-4"> 
              <div class="form-group">
              <label for="name">Form</label>
              <input type="date" class="form-control input-sm" name="Form">
            </div>
          </div>
          <div class="col-md-4"> 
              <div class="form-group">
              <label for="name">To</label>
              <input type="date" class="form-control input-sm" name="Form">
            </div>
          </div>
          <div class="col-md-4"> 
              <div class="form-group">
              <label for="name">Nights</label>
              <input type="text" class="form-control input-sm" name="Form">
            </div>
          </div>
              </div>
             
              <div class="row">
                <div class="col-md-3">
                    <div class="custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1"style="zoom:1.5" >
                        <label class="custom-control-label" for="customRadio">Core</label>
                      </div> 
                </div>
                <div class="col-md-3">
                    <div class="custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1"style="zoom:1.5" >
                        <label class="custom-control-label" for="customRadio">ShoulderBegin</label>
                      </div> 
                </div>
                <div class="col-md-3">
                    <div class="custom-control">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1"style="zoom:1.5" >
                        <label class="custom-control-label" for="customRadio">ShoulderEnd</label>
                      </div> 
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> SUN</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> MON</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> TUE</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> WED</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> THU</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> FRI</label>
                  </div>
                  <div class="col-sm-1">
                      <label for="mon"><input type="checkbox" id="mon" style="margin-left:0px;zoom:1.5"/> SAT</label>
                  </div>
              </div>
      </div>
  </div>
  <div class="panel panel-primary" style="border:solid 1px; margin-left: 14px;border-color: lightgray">
      <legend style="margin-left:3px;background-color: #0077B5;color:white;" >RoomType</legend>
      <div class="panel-body">
          <div class="col-md-5">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead >
            <tr>
              <td>KNGN</td>
            </tr>
            <tr>
                <td>KNGS</td>
              </tr>
              <tr>
                  <td>KSBN</td>
                </tr>
                <tr>
                    <td>KSBS</td>
                  </tr>
                  <tr>
                      <td>SJSN</td>
                    </tr>
                    <tr>
                        <td>SDBN</td>
                      </tr>
                    <tr>
                      <td>SJSS</td>
                      </tr>
                <tr>
                    <td>COMP</td>
                </tr> 
                </thead>
              </table>
          </div>
        </div>
         <div class="row">
          <div class="col-md-4">
              <button class="btn btn-success" style="width:100%">ALL</button>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-4">
                <button class="btn btn-warning" style="width:100%">NONE</button>
              </div>
            </div>
      
    </div> 
</div>
<div class="row">
    
</div>
</div>
</div>
</div>
</div>
</body>