
    <div class="wrapper">
        <div class="content-wrapper">
            <br>
            <div class="container-fluid">
                <div class=" panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <b>Room Number</b>

                            </div>

                            <div class="col-lg-2">
                                <select required style="height:32px;width:258px;border-radius:4px;color:black;" [(ngModel)]="rm_room_type">
                                    <option *ngFor="let selectlist of listroom" [ngValue]="selectlist.rm_room">{{selectlist.rm_room}} </option>
                                  </select>
                            </div>

                            <div class="col-lg-2"></div>

                            <div class="col-lg-2">
                                <b>Departure Since</b>
                            </div>

                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-addon" id="iccon" style="background-color:#0077B5;color:white;"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="date" class="form-control" name="departuredate" style="width:220px;"[(ngModel)]="deptdate">
                                </div>
                            </div>
                        </div><br>


                        <div class="row">


                            <div class="col-lg-2">
                                <b>Credit Card No.</b>
                            </div>

                            <div class="col-lg-2">
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input type="text" class="form-control" name="creditcard" style="width:220px;" [(ngModel)]="creditcard">
                                </div>
                            </div>

                            <div class="col-lg-4"></div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-info" style="width:260px;" (click)="clearfield()"><b>Clear All</b></button>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>


            <div class="container-fluid">

                <table class="table table-bordered table-hover">
                    <thead style="background-color:#0077B5;color:white;">
                        <tr>
                            <th>Room</th>
                            <th>Name</th>
                            <th>Arrival</th>
                            <th>Departure</th>
                            <th>Rate code</th>
                            <th>Creditcard Numbe</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let datalist of roomhistory|searchfilter:{res_room: rm_room_type}|searchfilter:{res_depature:deptdate}
                        |searchfilter:{res_creditcard_number:creditcard}" >
                            <td>{{datalist.res_room}}</td>
                            <td>{{datalist.pf_firstname}}</td>
                            <td>{{datalist.res_arrival}}</td>
                            <td>{{datalist.res_depature}}</td>
                            <td>{{datalist.res_rate_code}}</td>
                            <td>{{datalist.res_creditcard_number}}</td>
                            <td>{{datalist.res_rate}}</td>
                        </tr>
       
                    </tbody>
                </table>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1">

                    </div>



                    <div class="col-lg-2">
                        <button type="button" class="btn btn-info" style="width:100%;" routerLink="profile"><b>Profile</b><span class="glyphicon glyphicon-user"
                                style="padding-left:5px;"></span></button>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success" style="width:100%;" routerLink="/reservation"><b>Resv.</b><span
                                class="glyphicon glyphicon-home" style="padding-left:5px;"></span></button>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" style="width:100%;" routerLink="revenueratecode"><b>Revenue</b><span class="glyphicon glyphicon-user"
                                style="padding-left:5px;"></span></button>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-warning" style="width:100%;" disabled><b>Folio</b><span class="glyphicon glyphicon-user"
                                style="padding-left:5px;"></span></button>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-danger" style="width:100%;"><b>Close</b><span class="glyphicon glyphicon-remove"
                                style="padding-left:5px;"></span></button>
                    </div>
                    <div class="col-lg-1">

                    </div>

                </div>

            </div>
        </div>
    </div>
