tr{
    height: 36px
}
.modal-header{
    background-color:#0077B5 !important;
    color:white !important;
    }
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
     
      margin: 0;
    }    

    .martop{
      margin-top: 50px;
  }