<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Our Custom CSS -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width:100%">  
  <div class="wrapper">
    
    <div class="content-wrapper">
  <div class="container-fluid" style="padding-top:9px;">
    <div class="panel panel-default" >
      <div class="panel-body" style="max-height: 224px;margin-top: -19px;">
   <div  style="padding-top:10px;padding-bottom:20px;">
    <form action="">
   <div class="row">

      <div class="col-md-3">
         <b> First Name</b> <div class="input-group">
              <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span> -->
              <input type="text" id="name" name="FirstName" class="form-control" [(ngModel)]="queryString" style="width: 113%;height: 33px;"></div>
      </div>

      <div class="col-md-3">

          <b>Last Name</b> <div class="input-group">
              <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span> -->
              <input type="text" id="name" name="LastName" class="form-control"[(ngModel)]="query" style="width: 113%;height: 33px;"></div>
      </div>
	  
      <div class="col-md-3">    
        <b>Source</b> <div class="input-group">
            <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span> -->
            <input type="text" id="name" name="Source" class="form-control" [(ngModel)]="qsource" style="width: 113%;height: 33px;"></div>
     </div>

        <div class="col-md-3">
        <b>Contact</b> <div class="input-group">
             <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span> -->
             <input type="text" name="Contact" class="form-control"style="width: 113%;height: 33px;" ></div>
        </div>
  
        </div>

        <div class="row" style="padding-top:8px;">

            

      <div class="col-md-3">
          <b>Arrival From</b> <div class="input-group">
               <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span> -->
               <input type="date" name="Arrivalfrom" class="form-control"[(ngModel)]="startDate" (change)="filterDatefrmList(startDate,endDate)" style="width: 127%;height: 33px;"></div>
       </div>
 
       <div class="col-md-3">
 
           <b>Arrival To</b> <div class="input-group">
               <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span> -->
               <input type="date" name="Arrivalto" class="form-control"[(ngModel)]="endDate" (change)="filterDatefrmList(startDate,endDate)" style="width: 127%;height: 33px;"></div>
       </div>   
       <div class="col-md-3">
          <b>Group</b> <div class="input-group">
               <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span> -->
               <input type="text" id="name" name="Group" class="form-control" style="width: 113%;height: 33px;"></div>
       </div>
       <div class="col-md-3">
        <b>Company</b> <div class="input-group">
          <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span> -->
          <input type="text" id="name" name="Company" class="form-control" style="width: 113%;height: 33px;"></div>

      </div>
        </div>
        <div class="row" style="padding-top:10px;">
            <div class="col-md-3">
                  <b>Agent</b> <div class="input-group">
                    <!-- <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span> -->
                    <input type="text" id="name" name="Agent" class="form-control" style="width: 113%;height: 33px;"></div>
               </div>
               <br>
               <!-- <div class="col-md-2">
                  <button type="button" class="btn btn-primary" routerLink="/advancedsearch" style="width: 91px;height: 33px;margin-left: 42pc;" disabled>Advanced</button>
             </div> -->
             <div class="col-md-2"></div>
             <div class="col-md-2">
               <button class="btn btn-danger" style="width: 91px;height: 33px;margin-left: 24pc;" (click)="clearinput()">Clear</button>
             </div> 
             <div class="col-md-2"></div>
       </div>
      <br>
	   
      </form>
  </div>
</div>
</div>
  </div>
  <div style="margin-left:90%"> 
<span>
  <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true" style="cursor: pointer"
  [ngClass]="{disabling:showMore!=true}" (click)="showLessBut()"></i>

  <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true" style="cursor: pointer"
  [ngClass]="{disabling:showMore!=false}" (click)="showMoreBut()"></i>
</span>
</div> 
  <div class="container-fluid" >

      <table class="table table-bordered table-hover tableBodyScroll">
        <thead>
            <tr class="table table-primary" style="background-color: #0077B5;color: white">
                  <th style="width:50px"> Seq</th>                      
                  <th style="width:160px"> Name</th>
                  <th style="width:110px"> Arrival_Date</th>
                  <th style="width:130px"> Departure_Date</th>
                  <th style="width:75px" *ngIf="showMore!=true"> Nights</th>
                  <th style="width:100px" *ngIf="showMore!=true"> Room_Type</th>
                  <th style="width:60px" *ngIf="showMore!=true"> Adults</th>                        
                  <th style="width:60px" *ngIf="showMore!=true"> Child</th>
                  <th style="width:105px" *ngIf="showMore!=true"> Status</th>
                  <th style="width:110px" *ngIf="showMore!=true"> Block_Code</th>
                  <th *ngIf="showMore!=true"> Rate_Code</th>                    
                  <th style="width:60px"  *ngIf="showMore==true"> Room</th>
                  <th style="width:100px" *ngIf="showMore==true"> Resv_Type</th>
                  <th style="width:130px" *ngIf="showMore==true"> Confirm_No</th>
                  <th style="width:155px" *ngIf="showMore==true"> CreditCard</th>            
                  <th style="width:90px" *ngIf="showMore==true"> Exp_Date</th>            
                  <th *ngIf="showMore==true"> Rate</th>
                </tr>
        </thead>
        <tbody>
          <tr *ngFor="let searched of searchandedit|searchfilter:{pf_firstname: queryString }|searchfilter:{res_unique_id: resof }|searchfilter:{pf_firstname: query}|searchfilter:{res_source: qsource} ; let i = index" 
          (click)="selectMembersEdit(searched,i)"  [ngClass]="{'backGroundColor':i==selectindex}">
            <td style="width:50px">{{i+1}}</td> 
            <td style="width:160px"> {{searched.pf_firstname|titlecase}}</td>
            <td style="width:110px"> {{searched.res_arrival}} </td> 
            <td style="width:130px"> {{searched.res_depature}} </td>
            <td style="width:75px" *ngIf="showMore!=true"> {{searched.res_nights}} </td>
            <td style="width:100px" *ngIf="showMore!=true"> {{searched.res_room_type |titlecase}} </td>
            <td style="width:60px" *ngIf="showMore!=true"> {{searched.res_adults}}</td> 
            <td style="width:60px" *ngIf="showMore!=true"> {{searched.res_child}}</td>
            <td style="width:105px" *ngIf="showMore!=true"> {{searched.res_guest_status|titlecase}} </td>     
            <td style="width:110px" *ngIf="showMore!=true"> {{searched.res_block_code}}</td> 
            <td *ngIf="showMore!=true"> {{searched.res_rate_code}}</td>     
            <td style="width:60px"  *ngIf="showMore==true"> {{searched.res_room }} </td>
            <td style="width:100px" *ngIf="showMore==true"> {{searched.res_res_type |titlecase}}</td>     
            <td style="width:130px" *ngIf="showMore==true"> {{searched.res_confnumber}} </td>
            <td style="width:155px" *ngIf="showMore==true"> {{searched.res_creditcard_number}}</td>     
            <td style="width:90px" *ngIf="showMore==true"> {{searched.res_exp_date}}</td>     
            <td *ngIf="showMore==true"> {{searched.res_rate}}</td>     
          </tr>
                                                                                                                            
        </tbody>
      </table>
   <div class="row">
     <div *ngFor="let item of privilege">
       <div class="col-md-2 col-lg-2"  *ngIf="showhide==true">
        <button class="btn btn-danger btn-sm" style="width:130px">{{item.privileges_desc}}</button>
      </div>
    </div>
     <div class="col-md-2 col-lg-2" *ngIf="showfix==true">
      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#fixrate" style="width:130px" >Fixed Rate</button>
    </div>
    <div class="col-md-2 col-lg-2" *ngIf="showhidenotes==true">
      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#notes" style="width:130px">Notes</button>
    </div>
    <div class="col-md-2 col-lg-2" *ngIf="showhidepreferences==true">
      <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#preference" style="width:130px"> Preferences</button>
    </div>
    <div class="col-md-2 col-lg-2" *ngIf="showhidereser==true">
      <button class="btn btn-danger btn-sm" (click)="cancledue()" > {{duedatevali}}</button>
    </div>
   </div>
  </div>
  <br>
  <div class="container-fluid">
   <div class="row" >
     
        <button type="button" class="btn btn-primary" routerLink="/reservation" style="width:125px;margin-left: 15px;"  [disabled]=new ><b>New</b></button>
        <button type="button" class="btn btn-warning" (click)="resevedit('resevedit')"style="width:125px;margin-left: 15px;"  [disabled]=edit ><b>Edit</b></button>
        <button type="button" class="btn btn-danger"  style="width:125px;margin-left: 5px;" data-toggle="modal" data-target="#cancel" data-dismiss="modal" [disabled]=cale><b>Cancel</b></button>
        <button type="button" class="btn btn-warning"  style="width:125px;margin-left: 5px;" data-toggle="modal" data-target="#reinstate" data-dismiss="modal" [disabled]=rein ><b>Reinstate</b></button>
        <button type="button" class="btn btn-info"routerLink="/psearch" style="width:125px;margin-left: 5px;"  [disabled]=profile ><b>Profile</b></button>
        <button routerLink="/reservationoption" class="btn btn-primary"  style="width:125px;margin-left: 5px;"  [disabled]=option ><b>Options</b></button>
        <button type="button" class="btn btn-success" (click)="subaccp()" data-toggle="modal" data-target="#accept"style="width:125px;margin-left: 5px;" [disabled]=wait ><b>Accept Waitlist</b></button>
        <button type="button" class="btn btn-danger" routerLink="/mains"  style="width:125px;margin-left: 5px;"><b>Close</b></button>

   </div>
  <br>
  </div>
</div>
</div>
</body>
</html>



     <!-- cancel start-->
     <div class="modal modal-open" id="cancel" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
      
        <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Reservation Cancel</h4>
          </div>
          <form action="">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-8">
                <form action="">
                  <div class="row">
                    <div class="col-lg-2"> <label for="">Reason</label></div>
                    <div class="col-lg-10">
                      <div class="input-group">
                          <select name="Reason" class="form-control" placeholder="" [(ngModel)]="cans.Cancel_reason">
                            <option *ngFor="let lists of arry " [ngValue]="lists.reason">{{lists.reason}}</option>
                            </select>
                      </div>
                    </div>
                  </div><br>
                  <div class="row">
                      <div class="col-lg-2"> <label for="">Reason Description</label></div>
                      <div class="col-lg-10">
                        <textarea name="ReasonDes" id="" cols=" 38" rows="3" [(ngModel)]="cans.Cancel_description"></textarea>
                      </div>
                    </div>                  
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" type="reset" class="btn btn-success" style="padding-left:5px;" data-toggle="modal" data-target="#cancel1" data-dismiss="modal" (click)="subcancel(cans)"><b>Ok</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
              <button type="button" class="btn btn-danger" style="padding-left:5px;"data-dismiss="modal"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
          </div>
        </form>
        </div>
        
      </div>
    </div> 
    <!-- cancel End -->   

         <!-- cancel start-->
         <div class="modal modal-open" id="cancel1" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Reservation Cancel</h4>
              </div>
              <div class="modal-body">
    
                  <p align="center"><b> {{user3}}</b></p>
                  <p align="center"><b> {{cansl}}</b></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
              </div>
            </div>
            
          </div>
        </div> 
        <!-- cancel End --> 


         <!-- Reinstate start-->
         <div class="modal modal-open" id="reinstate" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"> Reservation Reinstate</h4>
                </div>
                <div class="modal-body">
                  <p align="center"><b>Are you Sure you want to Reinstate ?</b></p>
                  <br>
                  <div class="text-center">
                 <button type="button" class="btn btn-success"style="padding-left:5px;"data-toggle="modal" data-target="#reinstate1" data-dismiss="modal" (click)="subrein()"><b>Yes</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
                 <button type="button" class="btn btn-danger"style="padding-left:5px;"data-dismiss="modal"><b>No</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
                </div>
              </div>
              </div>
              
            </div>
          </div> 
          <!-- reinstate End -->   

         <!-- reinstate start-->
         <div class="modal modal-open" id="reinstate1" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"> Reservation Reinstate</h4>
                </div>
                <div class="modal-body">
      
                  <p align="center"><b> {{reinreturn}}</b></p>
                  <p align="center"><b> {{reinstates}}</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
                </div>
              </div>
              
            </div>
          </div> 
          <!-- Reinstate End -->         

         <!-- Accept start-->
         <div class="modal fade" id="accept" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Accept Waitlist</h4>
              </div>
              <div class="modal-body">
    
                <p align="center"><b> {{Acceptreturn}}</b></p>
                <p align="center"><b> {{AcceptState}}</b></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
              </div>
            </div>
            
          </div>
        </div> 
        <!-- Accept End -->                

             <!-- fixedrate start-->
             <div class="modal fade" id="fixrate" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Fixed Rate</h4>
                  </div>
                  <div class="modal-body">
                   <table class="table table-bordered table-hover tableBodyScroll">
                    <thead>
                    <tr class="table table-primary" style="background-color: #0077B5;color: white">
                        <th style="width:150px">Arrival</th>
                        <th style="width:150px">Departure</th>
                        <th style="width:150px">Adult</th>
                        <th style="width:150px">Child</th>
                        <th style="width:150px">Room_Type</th>
                        <th>Rate</th>
                    </tr>                  
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of fixrate">
                          <td style="width:150px">{{data.res_arrival}}</td>
                          <td style="width:150px">{{data.res_depature}}</td>
                          <td style="width:150px">{{data.res_adults}}</td>
                          <td style="width:150px">{{data.res_child}}</td>
                          <td style="width:150px">{{data.res_room_type}}</td>
                          <td>{{data.res_rate}}</td>
                      </tr>
                    </tbody>
                   </table>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
                  </div>
                </div>
                
              </div>
            </div> 
            <!-- fixed rate End --> 

               <!-- Notes start-->
               <div class="modal fade" id="notes" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"> Notes</h4>
                    </div>
                    <div class="modal-body">
                     <table class="table table-bordered table-hover tableBodyScroll">
                      <thead>
                      <tr class="table table-primary" style="background-color: #0077B5;color: white">
                          <th style="width:50px">Seq</th>
                          <th style="width:210px">Notes Type</th>
                          <th style="width:210px">Notes</th>
                          <th style="width:210px">Description</th>
                          <th> Date</th>
                      </tr>                  
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of notes let i=index">
                            <td style="width:50px">{{i+1}}</td>
                            <td style="width:210px">{{data.pf_note_type}}</td>
                            <td style="width:210px">{{data.pf_note_title}}</td>
                            <td style="width:210px">{{data.pf_note_description}}</td>
                            <td >{{data.pf_notes_date}}</td>
                        </tr>
                      </tbody>
                     </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
                    </div>
                  </div>
                  
                </div>
              </div> 
              <!-- Notes End -->            

               <!-- Preference start-->
               <div class="modal fade" id="preference" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content" style="margin-left:-20%; margin-top: 15%; width:150%;">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"> Preference</h4>
                    </div>
                    <div class="modal-body">
                     <table class="table table-bordered table-hover tableBodyScroll">
                      <thead>
                      <tr class="table table-primary" style="background-color: #0077B5;color: white">
                          <th style="width:50px">Seq</th>
                          <th style="width:260px">Guest Preference</th>
                          <th style="width:260px">Preference Group</th>
                          <th>Description</th>
                      </tr>                  
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of preferences let i=index">
                            <td style="width:50px">{{i+1}}</td>
                            <td style="width:260px">{{data.pf_guest_preference}}</td>
                            <td style="width:260px">{{data.pf_preference_group}}</td>
                            <td>{{data.pf_preference_description}}</td>          
                        </tr>
                      </tbody>
                     </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"style="padding-left:5px;"data-dismiss="modal"><b>Ok</b><span class="glyphicon glyphicon-ok" style="padding-left:5px;"></span></button>
                    </div>
                  </div>
                  
                </div>
              </div> 
              <!-- Preferences End -->                          