<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  
<div class="wrapper">
        <!-- Main Header -->
       <app-starter-header></app-starter-header>
       <!-- Left side column. contains the logo and sidebar -->
       <app-starter-left-side></app-starter-left-side>
       <!-- Content Wrapper. Contains page content -->
       <router-outlet></router-outlet>
       <!-- /.content-wrapper -->
       <!-- Control Sidebar -->
       <app-starter-control-sidebar></app-starter-control-sidebar>
       <!-- /.control-sidebar -->
       <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
       <div class="control-sidebar-bg"></div>
     </div>

    </body>
</html>
