
.backGroundColor{
    background-color:#D3D3D3;
}

 table{

    font-size:14px;
   
   }

   
    .tableBodyScroll tbody {
        display:block;
        height:190px;
        overflow-y:scroll;
        table-layout:fixed;
        }
        .tableBodyScroll thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
        }

        .martop{
            margin-top: 40px;
        }