<div class="wrapper">
<div class="content-wrapper">
  <br>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
      <label for="name">Account Type</label>
    </div>      
      <div class="col-md-4" style="margin-left: -155px;">
          <div class="form-group">
        <select  class="form-control input-sm" id="Account" name="Account" style="width: 100%;" [(ngModel)]="Account.account_type_id" (ngModelChange)="onSelect(blockstatus)" >
          <option *ngFor="let option of roomtype" 
          [ngValue]="option.reason_id"> 
          {{option.reason_code}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <p>Corporate Accounts</p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      <div class="form-group">
        <label for="name">Account Number</label>
      </div>
    </div>
    <div class="col-md-4" style="margin-left: -61px;">
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="name" name="Account Num" [(ngModel)] ="Account.account_number">
    </div>
    </div>
    <div class="col-md-2">
    <p>Status</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="name">Credit Limit</label>
    </div>
    <div class="col-md-4" style="margin-left: -70px;">
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="name" name="Account Num" style="width: 342px; margin-left: 10px;" [(ngModel)]="Account.credit_limit">
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="fl" name="checkflag" [(ngModel)]="Account.flagged">Flagged</label>
         </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label label for="name">Contact </label>
    </div>
    <div class="col-md-6" style="margin-left: -153px;">
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="name" name="Account Num" [(ngModel)]="Account.contact">
          </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-3">
     <label>Phone/Fax</label>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="number" class="form-control input-sm" id="name" name="Phone/Fax" style="margin-left: -153px;" [(ngModel)]="Account.phone">
    </div>

  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="name" name="Phone/Fax" style="margin-left: -153px;" [(ngModel)]="Account.fax">
    </div>

  </div>

  </div>
  <div class="row">
    <div class="col-md-2">
    <label>Email</label>
    </div>
    <div class="col-md-4">
      <input type="email" class="form-control input-sm" id="email" name="email" style="margin-left: -60px;" [(ngModel)]="Account.email">
    </div>

  </div>
  <br>
  <div class="row">
  <div class="col-md-2">
    <label>AR Address</label>
  </div>
  <div class="col-md-4" style="margin-left: -59px">
      <textarea class="form-control" rows="4" id="comment" style="width: 530px;" [(ngModel)]="Account.ar_address"></textarea>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-2">
    <label>City</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;" [(ngModel)]="Account.city">
    </div>

  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
      <label>Postal Code</label>
      </div>
      <div class="col-md-4">
        <input type="number" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;" [(ngModel)]="Account.postal_code">
      </div>
  
    </div>
    <br>
    <div class="row">
     <div class="col-md-2">
       <label>country/State</label>
     </div>
     <div class="col-md-3">
        <select  class="form-control input-sm" id="city" name="city" style="margin-left: -60px;" [(ngModel)]="Account.state_id" (ngModelChange)="onSelect(state)" >
          <option *ngFor="let option of statetype" 
          [ngValue]="option.id"> 
          {{option.state}}</option>
      </select>
     </div>

     <div class="col-md-3">
        <select type="text" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;" placeholder="CA" [(ngModel)]="Account.country_id" (ngModelChange)="onSelect(country)">
          <option *ngFor="let option of count" 
          [ngValue]="option.id"> 
          {{option.country}}</option>
        </select>
     </div>

    </div>
   <br>
    <!-- <div class="row">
      <div class="col-md-2">
        <label>Reference Currency</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
        <select class="form-control input-sm" id="Currency" name="Currency" style="margin-left: -59px;" >
          <option>hello</option>
          <option>hello</option>
        </select>
      </div>
      </div>
      <div class="col-md-2" style="margin-left: -61px;">
        <label>Last Remiender Sent to</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
        <input type="text" class="form-control input-sm" id="sent" name="sent">
      </div>
    </div>
    </div> -->
    <br>
    <!-- <div class="row">
        <div class="col-md-2">
          <label>Last Reminder Sent </label>
        </div>
        <div class="col-md-3" style="margin-left: -58px;">
          <div class="form-group">
          <input type="text" class="form-control input-sm" id="sent" name="sent">
        </div>
        </div>
        <div class="col-md-2">
          <label>Last Remiender Sent to</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
          <input type="text" class="form-control input-sm" id="sent" name="sent">
        </div>
      </div>
      </div> -->
      <br>
      <!-- <div class="row">
          <div class="col-md-2">
            <label>Last Reminder Text </label>
          </div>
          <div class="col-md-3" style="margin-left: -58px;">
            <div class="form-group">
            <input type="text" class="form-control input-sm" id="sent" name="sent">
          </div>
          </div>
          <div class="col-md-2">
            <label>Last Statement send to</label>
          </div>
          <div class="col-md-3">
            <div class="form-group">
            <input type="text" class="form-control input-sm" id="sent" name="sent">
          </div>
        </div>
        </div> -->
        <div class="row">
          <!-- <div class="col-md-4" style="margin-left: 121px;">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Include in Batch Stmt</label>
                </div>
          </div> -->
          <div class="col-md-4" style="    margin-left: 98px;">
              <div class="checkbox">
                  <label><input type="checkbox" value="PA"  name="per_acc" [(ngModel)]="Account.permanent_account">Permenent Account</label>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-warning" Style="width:80%;"data-toggle="modal" data-target="#update" (click)="update(Account)">update</button> 
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" Style="width:80%;"data-toggle="modal" data-target="#myModal" (click)="update1(Account)">OK</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-danger" Style="width:80%;" routerLink="/newaraccount">Close</button>
            </div>
        </div>



  
  </div>

</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p align="center"><b>{{setupdate}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="update" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p align="center"><b>{{setupdate}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>