<div class="wrapper">
<div class="content-wrapper">
  <br>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
      <label for="name">Account Type</label>
    </div>      
      <div class="col-md-4" style="margin-left: -155px;">
          <div class="form-group">
        <select  class="form-control input-sm" id="Account" name="Account" style="width: 100%;" >
          <option>hello dar</option>
          <option>hello dar</option>
          <option>hello dar</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <p>Corporate Accounts</p>
    </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      <div class="form-group">
        <label for="name">Account Number</label>
      </div>
    </div>
    <div class="col-md-4" style="margin-left: -61px;">
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="name" name="Account Num">
    </div>
    </div>
    <div class="col-md-2">
    <p>Status</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="name">Credit Limit</label>
    </div>
    <div class="col-md-4" style="margin-left: -70px;">
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="name" name="Account Num" style="width: 342px; margin-left: 10px;">
          </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label><input type="checkbox" value="" checkbox-bootstrap checkbox-lg>Flagged</label>
         </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label label for="name">Contact </label>
    </div>
    <div class="col-md-6" style="margin-left: -153px;">
        <div class="form-group">
            <input type="number" class="form-control input-sm" id="name" name="Account Num">
          </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-3">
     <label>Phone/Fax</label>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="name" name="Phone/Fax" style="margin-left: -153px;">
    </div>

  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" class="form-control input-sm" id="name" name="Phone/Fax" style="margin-left: -153px;">
    </div>

  </div>

  </div>
  <div class="row">
    <div class="col-md-2">
    <label>Email</label>
    </div>
    <div class="col-md-4">
      <input type="email" class="form-control input-sm" id="email" name="email" style="margin-left: -60px;">
    </div>

  </div>
  <br>
  <div class="row">
  <div class="col-md-2">
    <label>AR Address</label>
  </div>
  <div class="col-md-4" style="margin-left: -59px">
      <textarea class="form-control" rows="4" id="comment" style="width: 530px;"></textarea>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-2">
    <label>City</label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;">
    </div>

  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
      <label>Postal Code</label>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;">
      </div>
  
    </div>
    <br>
    <div class="row">
     <div class="col-md-2">
       <label>country/State</label>
     </div>
     <div class="col-md-3">
        <select  class="form-control input-sm" id="city" name="city" style="margin-left: -60px;">
        <option>hello</option>
        <option>hello</option>
      </select>
     </div>

     <div class="col-md-3">
        <input type="text" class="form-control input-sm" id="city" name="city" style="margin-left: -60px;" placeholder="CA">
     </div>

    </div>
   <br>
    <div class="row">
      <div class="col-md-2">
        <label>Reference Currency</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
        <select class="form-control input-sm" id="Currency" name="Currency" style="margin-left: -59px;" >
          <option>hello</option>
          <option>hello</option>
        </select>
      </div>
      </div>
      <div class="col-md-2" style="margin-left: -61px;">
        <label>Last Remiender Sent to</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
        <input type="text" class="form-control input-sm" id="sent" name="sent">
      </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
          <label>Last Reminder Sent </label>
        </div>
        <div class="col-md-3" style="margin-left: -58px;">
          <div class="form-group">
          <input type="text" class="form-control input-sm" id="sent" name="sent">
        </div>
        </div>
        <div class="col-md-2">
          <label>Last Remiender Sent to</label>
        </div>
        <div class="col-md-3">
          <div class="form-group">
          <input type="text" class="form-control input-sm" id="sent" name="sent">
        </div>
      </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-2">
            <label>Last Reminder Text </label>
          </div>
          <div class="col-md-3" style="margin-left: -58px;">
            <div class="form-group">
            <input type="text" class="form-control input-sm" id="sent" name="sent">
          </div>
          </div>
          <div class="col-md-2">
            <label>Last Statement send to</label>
          </div>
          <div class="col-md-3">
            <div class="form-group">
            <input type="text" class="form-control input-sm" id="sent" name="sent">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="margin-left: 121px;">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Include in Batch Stmt</label>
                </div>
          </div>
          <div class="col-md-4" style="    margin-left: 98px;">
              <div class="checkbox">
                  <label><input type="checkbox" value="">Permenent Account</label>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" Style="width:80%;">OK</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-danger" Style="width:80%;" routerLink="/newaraccount">Close</button>
            </div>
        </div>



  
  </div>

</div>
</div>