
<!--Pdf -->

<div class="modal fade" id="myModal" role="dialog" style="max-width:100%"> 
  <div class="modal-dialog">
  <div class="modal-content" style="width:180%;height:80%;margin-left: -35%;"> 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">House Keeping Detail Report</h4>
      </div>
      <div class="modal-body" #myModal>
          <!-- <div class="scrollable"> -->
            <div class="scrollable">
              <table class="table"> 
                <thead style="background-color:#0077B5;color:white;">
                  <tr>
                    <th >X</th>
                    <th>Room</th>
                    <th>Room Type</th>
                    <th>Room Status</th>
                    <th>FO status</th>
                    <th>Reservation Status</th>
                    <th>Floor</th>
                    <th>Room Class</th>
                    <th>AM/PM</th>
                    <th>Features</th>
                    
                  </tr>
                </thead>
                <!-- <tbody> -->
                  <tr *ngFor="let housekeepinglist of house ; let i = index">
                    <td >{{i+1}}</td>
                    <td>{{housekeepinglist.rm_room}}</td>
                    <td>{{housekeepinglist.rm_room_type |titlecase}}</td>
                    <td>{{housekeepinglist.rm_room_status |titlecase}}</td>
                    <td>{{housekeepinglist.rm_fo_status |titlecase}}</td>
                    <td>{{housekeepinglist.rm_reservation_status |titlecase}}</td>
                    <td>{{housekeepinglist.rm_floor |titlecase}}</td>
                    <td>{{housekeepinglist.rm_room_class |titlecase}}</td>
                    <td>{{housekeepinglist.rm_am_pm}}</td>
                    <td>{{housekeepinglist.rm_features}}</td>
                   </tr>
            
                <!-- </tbody> -->
              </table>
            </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="downloadPDF()"><b>Download as Pdf</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>
    </div>
    
  </div>
</div>


<!---Alertinsert for changeroom response-->

<div class="modal fade" id="changeroomresponse" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4>Connect 24/7 Hotel</h4>
  </div>
  <div class="modal-body">
  <b align="center">{{roomlist}}</b>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
  </div>
</div>

</div>
</div>


<div class="modal fade" id="change" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header" style="background-color:#0077B5;color:white;">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Quick Change Room Status</h4>
</div>
<div class="modal-body">
  <div class="row">
   <div class="col-lg-1">
    <input type="radio" name="optradio" style="height:20px;width:20px;" (click)="sample('roomlist')">
   </div>
   <div class="col-lg-3">

    <b>Room List</b>
   </div>

   <div class="col-lg-6">
      <input type="text" [(ngModel)]="user.RM_Room">
   </div>

  </div><br>

  <div class="row">

    <div class="col-lg-1">
        <input type="radio" name="optradio" style="height:20px;width:20px;" (click)="sample('fromtoroom')"> 
    </div>

    <div class="col-lg-3">
     <b>From Room</b>
    </div>
   <div class="col-lg-2">
      <select  required style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="user.From_Room">
          <option *ngFor="let fromroomlist of fromroom" [ngValue] = "fromroomlist.rm_room">{{fromroomlist.rm_room}} </option>
            </select>
   </div>


   <div class="col-lg-2">
      <b>To Room</b>
     </div>
    <div class="col-lg-2">
        <select  required style="height:34px;color:black;border-radius:4px;width:100%;color:black;" [(ngModel)]="user.To_Room">
            <option *ngFor="let toroomlist of toroom" [ngValue] = "toroomlist.rm_room">{{toroomlist.rm_room}} </option>
              </select>
    </div>

  </div><br>




    <div class="row">
        <div class="col-lg-1">
         <!-- <input type="radio" name="optradio" style="height:20px;width:20px;"> -->
        </div>
        <div class="col-lg-3">

         <b>Change Room Status</b>
        </div>

        <div class="col-lg-6">
           <select  required style="height:34px;width:100%;color:black;border-radius:4px;" [(ngModel)]="user.RM_Room_Status">
               <option value = "Clean" >Clean</option>
               <option value = "Dirty" >Dirty</option>
               <option value = "Inspected" >Inspected</option>
               <option value = "Pick Up" >Pick Up</option>
               <option value = "Out Of Order" >Out Of Order</option>
               <option value = "Out Of Service" >Out Of Service</option>
               </select>
        </div>

       </div>
 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="housekeepingstatus(user)"  data-dismiss="modal" style="width:91px;">OK</button>
  <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:91px;">Close</button>
</div>
</div>

</div>
</div>


<div class="wrapper">
  <div class="content-wrapper">
    <br>
<div class="container-fluid" >
<div class="panel panel-default" >
  <div class="panel body" style="margin-bottom:0px; max-height: 100px;">
  <div class="row">
<div class="col-lg-6">
<b  style="margin-left:20px"><u>Room Status</u></b>
<div class="row">

<div class="col-lg-3" style="margin-left:20px">
<input type="checkbox" [(ngModel)]="checkboxflg.checkcln" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkcln,('clean'&&'Clean'))" name="clean"><b style="padding-left:10px;">Clean</b><br>
<input type="checkbox" [(ngModel)]="checkboxflg.checkDir" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkDir,('dirty'&&'Dirty'))" name="dirty"><b style="padding-left:10px;">Dirty</b><br>
<input type="checkbox" [(ngModel)]="checkboxflg.checkpkup" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkpkup,('pick up'&&'Pick up'))" name="pickup"><b style="padding-left:10px;">Pick Up</b><br>
</div>
<input type="checkbox" [(ngModel)]="checkboxflg.checkser" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkser,'Out Of Service')" name="outofservice"><b style="padding-left:10px;">Out Of Service</b><br>
<input type="checkbox" [(ngModel)]="checkboxflg.checkord" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkord,'Out Of Order')" name="outoforder"><b style="padding-left:10px;">Out Of Order</b><br>
<input type="checkbox" [(ngModel)]="checkboxflg.checkinp" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkinp,'Inspected')" name="inspected"><b style="padding-left:10px;">Inspected</b><br>
</div>
</div>

<!-- <pre>Selected items: <span  style="padding-right:10px;">{{checked.value}}</span></pre>   -->
<div class="col-lg-6">
<b><u>FO Status</u></b>
</div>

<div class="col-lg-4" id="div2">
<input type="checkbox" [(ngModel)]="checkboxflg.checkvac" [checked]="checkselectClr" (change)="filtercheckboxData1(checkboxflg.checkvac,'vaccant')"><b style="padding-left:10px;">Vaccant</b><br>
<input type="checkbox" [(ngModel)]="checkboxflg.checkocc" [checked]="checkselectClr" (change)="filtercheckboxData1(checkboxflg.checkocc,'occupied')"><b style="padding-left:10px;">Occupied</b><br>

</div>
</div><br>


    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-2"></div>
        <div class="col-md-2">
        <button type="button" class="btn btn-success" style="width:100%;margin-top: -94px;" (click)="selectandClearAll('sel')"><b>Select All</b></button>
        </div>
        <div class="col-md-2">
        <button type="button" class="btn btn-danger" style="width:100%;margin-top: -94px; margin-left: -20px;" (click)="selectandClearAll('clr')"><b>Clear All</b></button>
        </div>
    </div>
    </div>
    </div>
    </div>

<div class="container-fluid">
<div class="scrollable">

<table class="table table-bordered table-responsive table-hover">
<thead style="background-color:#0077B5;color:white;">
<tr>
  <th style="width:30px">X</th>
  <th>Room</th>
  <th>Room Type</th>
  <th>Room Status</th>
  <th>FO status</th>
  <th>Reservation Status</th>
  <th>Floor</th>
  <th>Room Class</th>
  <th>AM/PM</th>
  <th>Features</th>
  
</tr>
</thead>
<tbody>
<tr *ngFor="let housekeepinglist of house | filterdata: queryString : 'rm_room_status' | filterdata: queryString : 'rm_fo_status'; let i = index "
(click)="selectMembersEdit(housekeepinglist,i)" [ngClass]="{'backGroundColor':i==selectindex}">
  
  <td style="width:30px"><input type="checkbox" (checked)="exist(housekeepinglist)" (click)="toggleSelection(housekeepinglist)"></td>
  <td>{{housekeepinglist.rm_room}}</td>
  <td>{{housekeepinglist.rm_room_type |titlecase}}</td>
  <td>{{housekeepinglist.rm_room_status |titlecase}}</td>
  <td>{{housekeepinglist.rm_fo_status |titlecase}}</td>
  <td>{{housekeepinglist.rm_reservation_status |titlecase}}</td>
  <td>{{housekeepinglist.rm_floor |titlecase}}</td>
  <td>{{housekeepinglist.rm_room_class |titlecase}}</td>
  <td>{{housekeepinglist.rm_am_pm }}</td>
  <td>{{housekeepinglist.rm_features }}</td>
 </tr>

</tbody>
</table>
</div>
</div><br>

<div class="container-fluid">
<div class="row">

<button type="button" class="btn btn-info" style="width:13%;margin-left: 2%;" routerLink="/reservation"><b>Resv.</b></button>

<button type="button" class="btn btn-default" style="width:13%;" disabled><b>Details</b></button>

<button type="button" class="btn btn-warning" style="width:13%;" data-toggle="modal" data-target="#myModal"><b>Report</b></button>

<button type="button" class="btn btn-primary" style="width:13%;" data-toggle="modal" data-target="#statistics"><b>Statistics</b></button>

<button type="button" class="btn btn-success" style="width:13%;" (click)="roomassign()" routerLink="/roomassignment" (click)="cleardata()" [disabled]=ok><b>Ok</b></button>

<button type="button" class="btn btn-primary" style="width:13%;" data-toggle="modal" data-target="#change" data-dismiss="modal"><b>Change</b></button>

  <button type="button" class="btn btn-danger" style="width:13%;" routerLink="/mains"><b>Close</b></button>

</div>
</div>
</div>
</div>



<!-- Statistics Start-->

<div class="modal modal-open" id="statistics" role="dialog">
  <div class="modal-dialog">
  
  <!-- Modal content-->
  <div class="modal-content" style="width:180%;height:80%;margin-left: -35%;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
     <h4>Connect 24/7 Hotel</h4>
    </div>
    <div class="modal-body">
    <div class="row" style="margin:20px">
      <div class="col-md-6">
        <label for="">Totals</label>
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <th>Total Rooms</th>
              <td>{{statistics.Total_Rooms}}</td>
            </tr>
            <tr>
              <th>Total Clean</th>
              <td>{{statistics.Total_Clean}}</td>
            </tr>
            <tr>
              <th>Total Dirty</th>
              <td>{{statistics.Total_Dirty}}</td>
            </tr>
            <tr>
              <th>Total Inspected</th>
              <td>{{statistics.Total_Inspected}}</td>
            </tr>
            <tr>
              <th>Total Out Of Order</th>
              <td>{{statistics.Total_oo}}</td>
            </tr>
            <tr>
              <th>Total Out of Service</th>
              <td>{{statistics.Total_os}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <label for="">Details</label>
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <th>Not Reserved-Clean</th>
              <td>{{statistics.nres_clean}}</td>
            </tr>
            <tr>
              <th>Not Reserved-Dirty</th>
              <td>{{statistics.nres_dirty}}</td>
            </tr>
            <tr>
              <th>Not Reserved-Inspected</th>
              <td>{{statistics.nres_insp}}</td>
            </tr>
            <tr>
              <th>Not Reserved-Out of Service</th>
              <td>{{statistics.nres_os}}</td>
            </tr>
            <tr>
              <th>Reserved-Clean</th>
              <td>{{statistics.res_clean}}</td>
            </tr>
            <tr>
              <th>Reserved-Dirty</th>
              <td>{{statistics.res_dirty}}</td>
            </tr>
            <tr>
              <th>Reserved-Inspected</th>
              <td>{{statistics.res_insp}}</td>
            </tr>
            <tr>
              <th>Reserved-Out of Service</th>
              <td>{{statistics.res_os}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-6">
        <div class="input-group">
          <label for=""><input type="checkbox" name="" id=""> Include Pseudo Meeting Rooms</label>
        </div>
      </div>
      <div class="col-md-2">
      <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100%"><b>Refresh</b></button>
      </div>
      <div class="col-md-2">
      <button type="button" class="btn btn-success" data-toggle="modal" style="width:100%" data-target="#reportchanges" data-dismiss="modal"><b>Report</b></button>
      </div>
      <div class="col-md-2">
      <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%"><b>Close</b></button>
      </div>
    </div>
  </div>
  
  </div>
  </div>
  <!-- Statistics end -->

  <!---Report statistics response-->

<div class="modal fade" id="reportchanges" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4>Report Parameters</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
        <b > Housekeeping Details</b>          
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Preview</b></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Print</b></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><b>File</b></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
        </div>
      </div>
    </div>
    
    </div>
    </div>
    <!-- Report statistics -->