<div class="wrapper">
  <div class="content-wrapper">
      <br>
<div class="container-fluid">
  <div class="panel panel-primary" style="border-color: lightgray;margin-left: 5px;margin-right: 5px;margin-top: -15px">
      <div class="panel-body" style="margin-bottom: -7px;margin-top: -15px">
    <div class="row">

      <div class="col-sm-4">
         <b> First Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control" style="height: 30%;width: 60%"></div>
      </div>

      <div class="col-sm-4">

          <b>Last Name</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"  style="height: 30%;width: 60%"></div>
      </div>
	  
	    <div class="col-sm-4">
            <b>Company</b> <div class="input-group">
              <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" id="email" class="form-control"  style="height: 30%;width: 60%"></div>

          </div>
    

        </div>

        <div class="row" >

            <div class="col-lg-4">
                <b>Contact</b> <div class="input-group">
                     <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
                     <input type="text" class="form-control"  style="height: 30%;width: 60%"></div>
             </div>

      <div class="col-lg-4">
          <b>Arrival From</b> <div class="input-group">
               <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="date" class="form-control"  style="width: 60%"></div>
       </div>
 
       <div class="col-lg-4">
 
           <b>Arrival To</b> <div class="input-group">
               <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
               <input type="date" class="form-control"  style="width: 60%"></div>
       </div>
	  

    

        </div>


        <div class="row" >

          <div class="col-lg-4">
            <b>Group</b> <div class="input-group">
                 <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                 <input type="text" id="email" class="form-control"  style="height: 30%;width: 60%"></div>
         </div>
         
      
            <div class="col-lg-4">
      
                <b>Source</b> <div class="input-group">
                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                    <input type="text" id="email" class="form-control"  style="height: 30%;width: 60%"></div>
            </div>
          
            <div class="col-lg-4">
                  <b>Agent</b> <div class="input-group">
                    <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                    <input type="text" id="email" class="form-control"  style="height: 30%;width: 60%"></div>
      
                </div>
          
      
              </div>
<br>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-2">
<button class="btn btn-info" style="width: 100%">Search <i class="fa fa-search"></i></button>    
</div>
<div class="col-md-2">
<button class="btn btn-success" style="width: 100%">Advance <i class="fa fa-edit"></i> </button>    
</div>
<div class="col-md-2">
<button class="btn btn-warning" style="width: 100%">Clear <i class="fa fa-square-o"></i></button>   
</div>
<div class="col-md-3"></div>

</div>
</div></div>

<br>
<div class="panel panel-primary" style="border-color: lightgray;margin-top: -30px">
<div class="row">
  <legend style="margin-left: 25px"><b>Advanced Search</b></legend>
  <div>
    <form action="">
      <br>
        <div class="row" style="margin-top: -35px">
                 
          <div class="col-md-2" style="margin-left: 30px;">
            <label>Room Type</label>
            <input type="text" name="name"/>
          </div>         
        

                        
            <div class="col-md-2"  style="margin-left: 30px;">
              <label>Stay On</label>
              <input type="date" name="name" />
            </div>         

            
            <div class="col-md-2"  style="margin-left: 30px;">
              <label>Room No</label>
              <input type="text" name="name"/>
            </div>         
 
                      
              <div class="col-md-2"  style="margin-left: 30px;">
                <label>Room Class</label>
                <input type="text" name="name"/>
              </div>         
                                             
        
                   
            <div class="col-md-2"  style="margin-left: 30px;">
              <label>Market code</label>
              <input type="text" name="name"/>
            </div> 
          </div>        
          
          




          <div class="row">
                       
            <div class="col-md-2"  style="margin-left: 30px;">
              <label>Res. Type</label>
              <input type="text" name="name"/>
            </div>         
         
          
        
        
            <div class="col-md-2"  style="margin-left: 30px;">
              <label> Source Code</label>
              <input type="text" name="name"/>
            </div>         
          
        
          
                      
              <div class="col-md-2"  style="margin-left: 30px;">
                <label>Rate Code</label>
                <input type="text" name="name"/>
              </div>         
            <div class="col-md-2"  style="margin-left: 30px;">
              <label>Country</label>
              <input type="text" name="name"/>
            </div>         
              <div class="col-md-2"  style="margin-left: 30px;">
                <label>Credit Card #</label>
                <input type="text" name="name"/>
              </div>         
        
          </div> 
            
            

        </form>
  </div>




  <div class="row">

<div class="col-md-8">

      <legend style="margin-left: 25px"><b>Search type</b></legend>
      <br>
      <div class="row" style="margin-left: 25px;margin-top: -25px">
                
          <div class="col-md-3">
            <label><input type="radio" name="optradio">General</label>
          </div>
          
          <div class="col-md-3">
              <label><input type="radio" name="optradio">Checked In</label>
          </div>   

          <div class="col-md-3">
              <label><input type="radio" name="optradio">Due In</label>
            </div>      
        </div>  

      <div class="row" style="margin-left: 25px">
          <div class="col-md-3">
              <label><input type="radio" name="optradio">Day Use</label>
            </div>
          <div class="col-md-3">
              <label><input type="radio" name="optradio">CheckOut</label>
          </div>             
        <div class="col-md-3">
            <label><input type="radio" name="optradio">Due Out</label>
        </div>
      </div> 

        <div class="row" style="margin-left: 25px">
          <div class="col-md-3">
              <label><input type="radio" name="optradio">No Shows</label>
          </div> 
          <div class="col-md-3">
              <label><input type="radio" name="optradio">Waitlist</label>
            </div>
            <div class="col-md-3">
                <label><input type="radio" name="optradio">Complimentary</label>
            </div>  
          
        </div>
  </div>
  <div class="col-md-4" style="margin-left: -55px">
      <legend style="margin-left: -10px"><b>Created</b></legend>
      <br>
      <div class="row" style="margin-top: -25px"> 
            <label>On</label>
            <input type="text" name="name"/>
             
        </div><br>           
   
        <div class="row"> 
              <label>By</label>
              <input type="text" name="name"/>
            
          </div>
  </div>
  </div>

</div>
</div>

<br>

<div class="row" style="text-align: center;margin-top: -25px">
  <button class="btn btn-info" style="width:10%;"routerLink="/reservation">New <i class="fa fa-square-o"></i></button>    
  <button class="btn btn-primary disabled"style="width:10%">Check-in <i class="fa fa-sign-in"></i> </button>    
  <button class="btn btn-warning disabled" style="width:11%">Cancle <i class="fa fa-tasks"></i></button>   
  <button class="btn btn-info disabled" style="width:11%">Reinstate <i class="fa fa-tasks"></i></button>   
  <button class="btn btn-success disabled" style="width:10%">Reg. Card <i class="fa fa-credit-card"></i></button>   
  <button class="btn btn-info disabled" style="width:10%"> Profile <i class="fa fa-user"></i></button>   
  <button class="btn btn-info disabled" style="width:10%"> Options <i class="fa fa-caret-square-o-down"></i></button>   
  <button class="btn btn-warning disabled" style="width:10%"> Edit <i class="fa fa-edit"></i></button>   
  <button class="btn btn-danger" style="width:10%" routerLink="/checkin"> Close <i class="fa fa-close"></i></button>   

  </div>


</div>
</div>