<div class="wrapper">
  <div class="content-wrapper">
    <br>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="">
            <div class="row">
              <div class="col-md-3">
                <b>Account Name</b>
                <div class="input-group">
                  <input type="text" name="name" id="name" style="height:34px;width:200px;" [(ngModel)]="Name">
                </div>
              </div>
              <div class="col-md-3">
                <b>From Account No</b>
                <div class="input-group">
                  <input type="text" name="name" id="name" style="height:34px;width:200px;" [(ngModel)]="AccountNo">
                </div>
              </div>
              <div class="col-md-3">
                <b>To Account No</b>
                <div class="input-group">
                  <input type="text" name="name" id="name" style="height:34px;width:200px;" [(ngModel)]="toAccountNo">
                </div>
              </div>
              <div class="col-md-3">
                <b>Account Type</b>
                <div class="input-group">
                  <select name="accounttype" id=" accounttype" style="height:34px;width:200px;" [(ngModel)]="accounttype" (change)="onSel(accounttype)">
                    <option *ngFor="let option of market_val" 
                    [ngValue]="option.account_type"> 
                    {{option.account_type}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="checkbox"name="name" id="name"> All</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="checkbox" name="name" id="name"> Open Balance</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="checkbox" name="name" id="name" > No Balance</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <table class="table table-bordered table-hover tableBodyScroll">
        <thead style="background-color: #0077B5;color: white">
          <tr>
            <td>Account Name</td>
            <td>Account No</td>
            <td>Balance</td>
            <td>Contact</td>
            <td>Type</td>
            <td>City</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ar_table_value of res_table | filterdata: Name :'pf_account' | filterdata: AccountNo :'account_number' | filterdata: toAccountNo :'account_number';let i=index "
          (click)="selectMembersEdit(ar_table_value,i)" [ngClass]="{'backGroundColor':i==selectindex}">
            <td>{{ar_table_value?.pf_account}}</td>
            <td>{{ar_table_value?.account_number}}</td>
            <td>{{ar_table_value?.account_balance}}</td>
            <td>{{ar_table_value?.contact}}</td>
            <td>{{ar_table_value?.account_type}}</td>
            <td>{{ar_table_value?.city}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="row">
        
        <div class="col-md-2"> <button type="button" class="btn btn-info" style="width:140px" routerLink="/Accountoptions" [disabled]="enable_select">Options</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:140px" data-toggle="modal" data-target="#delete">Delete</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-primary" style="width:140px"  (click)="newsetupaccount()">New</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-info" style="width:140px" (click)="editsetupaccount()">Edit</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-success" style="width:140px" routerLink="/AccountMaintenance" [disabled]="enable_select">Select</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-danger" style="width:140px">Close</button></div>
      
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<!-- //delete modal start -->
<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      <b>Are you want delete this record</b>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="delete()">ok</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>