<div class="wrapper">
  <div class="content-wrapper">
    <br>
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="">
            <div class="row">
              <div class="col-md-3">
                <b>Account Name</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>From Account No</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>To Account No</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Account Type</b>
                <div class="input-group">
                  <select name="" id="" style="height:34px;width:200px;">
                    <option value="">Saving Account</option>
                    <option value=""> Current Account</option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="radio" name="" id=""> All</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="radio" name="" id=""> Open Balance</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="input-group">
                  <label for=""><input type="radio" name="" id=""> No Balance</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <table class="table table-bordered table-hover tableBodyScroll">
        <thead style="background-color: #0077B5;color: white">
          <tr>
            <td>Account Name</td>
            <td>Account No</td>
            <td>Balance</td>
            <td>Contact</td>
            <td>Type</td>
            <td>City</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ar_table_value of res_table ;let i=index "
          (click)="selectMembersEdit(ar_table_value,i)" [ngClass]="{'backGroundColor':i==selectindex}">
            <td>{{ar_table_value?.pf_account}}</td>
            <td>{{ar_table_value?.account_number}}</td>
            <td>{{ar_table_value?.account_balance}}</td>
            <td>{{ar_table_value?.contact}}</td>
            <td>{{ar_table_value?.account_type}}</td>
            <td>{{ar_table_value?.city}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"> <button type="button" class="btn btn-info" style="width:140px" routerLink="/Accountoptions" [disabled]="enable_select">Options</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:140px">Delete</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-primary" style="width:140px"  routerLink="/Setupaccount">New</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-success" style="width:140px" routerLink="/AccountMaintenance" [disabled]="enable_select">Select</button></div>
        <div class="col-md-2"> <button type="button" class="btn btn-danger" style="width:140px">Close</button></div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>