<div class="wrappper">
  <div class="content-wrapper">
    <br>
    <div class="container-fluid">
      <div class="panel pane-default">
        <div class="panel-body">
          <form action="">
            <div class="row">
              <div class="col-md-3">
                <b>Account Name</b>
                <div class="input-group">
                  <input type="text" name="invaccnm" id="" style="height:34px;width:200px;" [(ngModel)]="acc_name" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Name</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Folio No</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Arrival</b>
                <div class="input-group">
                  <input type="date" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <b>Invoice No</b>
                <div class="input-group">
                  <input type="text" name="invno" id="" style="height:34px;width:200px;" [(ngModel)]="invoice" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Group</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Company</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Departure</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <b>Account No.</b>
                <div class="input-group">
                  <input type="text" name="accno" id="" style="height:34px;width:200px;" [(ngModel)]="acc_no" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Amount</b>
                <div class="input-group">
                  <input type="text" name="inv_amt" id="" style="height:34px;width:200px;" [(ngModel)]="amount" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Rate Code</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <b>Rate</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;" disabled>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <table class="table table-bordered table-hover">
        <thead style="background-color: #0077B5;color: white">
          <tr>
            <th>seq</th>
            <th>Date</th>
            <th>Code</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Supplement</th>
            <th>Reference</th>
            <th>Exchange</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice_val of invoice_tab ;let i=index "
          (click)="selectMembersEdit(i,invoice_val)" [ngClass]="{'backGroundColor':i==selectindex}">
            <td>{{i+1}}</td>
            <td>{{invoice_val.posting_date}}</td>
            <td>{{invoice_val.arrangement_code}}</td>
            <td>{{invoice_val.posting_code_description}}</td>
            <td>{{invoice_val.posting_amount}}</td>
            <td>{{invoice_val.posting_supplement}}</td>
            <td>{{invoice_val.posting_reference}}</td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
      <div class="row">
          <div class="col-md-2"> <button type="button" class="btn btn-info" style="width:100%" data-toggle="modal" data-target="#post">Post</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:100%" data-toggle="modal" data-target="#Adjust" [disabled]="disablbut">Adjust</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-success" style="width:100%" disabled>Folio</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:100%" disabled>Edit</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-primary" style="width:100%" disabled>Profile</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-danger" style="width:100%" routerLink="/AccountMaintenance">close</button></div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<!-- Modal -->
<div id="Adjust" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Adjust Trn codes posting</h4>
        </div>
        <form #adjstForm="ngForm"> 
        <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="panel-primary">
              <div class="panel-body">
            <div class="col-md-4">
              <div class="form-group">
                <label> Trn.Code</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="trncode" disabled>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label> Begin Date</label>
                  <input type="date" class="form-control" id="name" name="name" [(ngModel)]="begin_date" disabled>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label> EndDate</label>
                    <input type="date" class="form-control" id="name" name="name" [(ngModel)]="end_date" disabled>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="radio">
                <label> <label><input type="radio" name="optradio" value="1" [(ngModel)]="adjust.adjust_typ">Amount</label></label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="radio">
                <label> <label><input type="radio" name="optradio" value="2" [(ngModel)]="adjust.adjust_typ">Percentage</label></label>
              </div>
            </div>
          
          <div class="col-md-4">
            <div class="form-group" style="margin-top: -11px;" [class.has-error]="bear.touched && bear.invalid">
              <label for="name"></label>
            <input type="text" class="form-control input-sm" id="bear" name="bear" [(ngModel)]="adjust.amount" #bear="ngModel" required>
            <div *ngIf="bear.touched && !bear.valid && bear.errors?.required " ngClass="{ 'has-error' : !bear.valid && submitAttempt }">                                                                    
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-left: 20px;">
            <div class="form-group">
              <label for="name">Reason Code</label>
              <select class="form-control" id="name" name="Reason" [(ngModel)]="adjust.reasn_code">
                <!-- <option><input type="text" name="ins" data-target="#insertreasncode_dd" data-target="modal"></option> -->
                <option *ngFor="let reason of reasndropdown" [ngValue]="reason.reason_code">{{reason.reason_code}}</option>
               
              </select>
            </div>
          </div>
         
          <div class="col-md-4" style="margin-top: 30px;">
            <p></p>
          </div>
          <div class="row">
            <div class="col-md-12">
            <div class="form-group" style="margin-left: 28px;width: 93%;">
              <label >Reason Text</label>
              <textarea class="form-control" row="4" id="name" name="name" [(ngModel)]="adjust.reasn_txt"></textarea>
            </div>
          </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="adjustfun(adjust);adjstForm.reset()" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          
        </div>
      </form>
      </div>
  
    </div>
  </div>

  <!-- post button modal -->
  <div id="post" class="modal modal-open" role="dialog">
      <div class="modal-dialog modal-lg">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Post</h4>
          </div>
          <div class="modal-body">
            <div class="row">
           <table class="table table-bordered table-hover">
            <thead>
              <tr style="background-color: #337ab7;color: white;">
                <th>Code</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Qty</th>
                <th>Window</th>
                <th>Arr.Code</th>
  
                <th>Check_No</th>
                <th>Supplement</th>
                <th>Reference</th>
                <th width=10%></th>
              </tr>
              <tr>
                <td>
                  <select style="width:100%;" [(ngModel)]="add.Code">
                    <option *ngFor="let ratecdlist of pscd_dd" [ngValue]="ratecdlist.posting_code_description">{{ratecdlist.posting_code}}</option>
                  </select>
                </td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Code" disabled/></td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Amount" /></td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Qty" /></td>
                <td>
                  <select style="width: 100%;height: 25px;" [(ngModel)]="add.Windowno">
                    <option value="" hidden>select value</option>
                    <option value="101">1</option>
                    <option value="102">2</option>
                  </select>
                  <!-- <input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Windowno"/> -->
                </td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Arr_Code" /></td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Check_No" /></td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Supplement" /></td>
                <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Reference" /></td>
                <td style="width: 86px;"><span>
                    <i style="padding-left: 34px;cursor: pointer;" (click)="addRows(add)" class="fa fa-plus-circle" aria-hidden="true"></i>
                  </span></td>
  
              </tr>
            </thead>
            <tbody>
           
              <tr *ngFor="let room of showdetails ; let i=index;">
  
                <td><label *ngIf="room.editFlag==false">{{room.Post_code_id}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_code_id" disabled></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Post_des}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_des" disabled></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Posting_amount}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_amount"></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Posting_quantity}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_quantity"></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Post_window}}</label>
                  <select style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_window">
                    <option value="" hidden>select value</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                  <!-- <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_window"> -->
                </td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Arrangement_code}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Arrangement_code"></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Checkno}}</label>
                  <input type="number" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Checkno"></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Posting_supplement}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_supplement"></td>
  
                <td><label *ngIf="room.editFlag==false">{{room.Posting_reference}}</label>
                  <input type="text" style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Posting_reference"></td>
  
  
                <td style="width: 86px;"><span><i style="cursor: pointer;" class="fa fa-trash" aria-hidden="true" (click)="deleterows(i)"></i>
                    &nbsp;&nbsp;&nbsp;
                    <i style="cursor: pointer;" *ngIf="room.editFlag==false" class="fa fa-pencil" aria-hidden="true" (click)="editrows(i,room)"></i>
                    <i style="cursor: pointer;" *ngIf="room.editFlag!=false" class="fa fa-check" aria-hidden="true" (click)="saveButton(i,room)"></i>
                  </span></td>
  
  
              </tr>
  
            </tbody>
  
           </table>
          </div>
          <!-- <div class="row">
            <div class="col-md-3">
            <div class="form-group">
              <label>Total Postings</label>
              <input type="number" class="form-control" id="postings" name="postings" disabled [(ngModel)]="totalPos" />
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label>Total Postings</label>
                <input type="number" class="form-control" id="postings" name="postings" disabled [(ngModel)]="totalamt" />
              </div>
            </div>
          </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="saveroomDetails()">Post</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearpost()">Close</button>
          </div>
        </div>
    
      </div>
    </div>