<div class="wrappper">
  <div class="content-wrapper">
    <br>
    <div class="container-fluid">
      <div class="panel pane-default">
        <div class="panel-body">
          <form action="">
            <div class="row">
              <div class="col-md-3">
                <b>Account Name</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Name</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Folio No</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Arrival</b>
                <div class="input-group">
                  <input type="date" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <b>Invoice No</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Group</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Company</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Departure</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-md-3">
                <b>Account NO.</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Amount</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Rate Code</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
              <div class="col-md-3">
                <b>Rate</b>
                <div class="input-group">
                  <input type="text" name="" id="" style="height:34px;width:200px;">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <table class="table table-bordered table-hover">
        <thead style="background-color: #0077B5;color: white">
          <tr>
            <th>seq</th>
            <th>Date</th>
            <th>Code</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Supplement</th>
            <th>Reference</th>
            <th>Exchange</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>1</td>
            <td>10/10/2018</td>
            <td>1000</td>
            <td>HSIA Sale</td>
            <td>500</td>
            <td>any</td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
          <div class="col-md-2"> <button type="button" class="btn btn-info" style="width:100%">Post</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:100%" data-toggle="modal" data-target="#Adjust">Adjust</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-success" style="width:100%">Folio</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-warning" style="width:100%">Edit</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-primary" style="width:100%">Profile</button></div>
          <div class="col-md-2"> <button type="button" class="btn btn-danger" style="width:100%">close</button></div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<!-- Modal -->
<div id="Adjust" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="panel-primary">
              <div class="panel-body">
            <div class="col-md-4">
              <div class="form-group">
                <label> Trn.Code</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label> Begin Date</label>
                  <input type="date" class="form-control" id="name" name="name">
                </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label> EndDate</label>
                    <input type="date" class="form-control" id="name" name="name">
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>