<div class="wrapper">

  <div class="content-wrapper">
    
 <div class="container-fluid">
   <div class="panel panel-default">
     <div class="row" style="margin:20px">
      <div class="col-lg-3">
        <label for="">Date</label>
      <div class="input-group">
        <input type="date" name="" id="" style="height:34px" [(ngModel)]="start_date" (change)="occupany_graph(start_date)">
      </div>
      </div>

     </div>
      <div class="row" style="margin:20px">
          <div id="chartdiv" style="width:100%;height:500px" ></div>
      </div>
          
      
   </div>
 </div>
 </div>
 </div> 