.panel{
	height:auto; 
	width:auto;
	border:1px solid gray;
	margin-top:25px;
	}
	
.panel-footer{
     background-color:PowderBlue;
	 height:73px;
	 border-top:1px solid Dimgray;
	}
	.vertical-alignment-helper {
		display:table;
		height: 100%;
		width: 100%;
	}
	.vertical-align-center {
		/* To center vertically */
		display: table-cell;
		vertical-align: middle;
	}
	.modal-content {
		/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
		width:inherit;
		height:inherit;
		/* To center horizontally */
		margin: 0 auto;
	}
	
.panel:hover{
      box-shadow: 5px 0px 40px rgba(0,0,0, .3);	
	  }		
.panel-body{
height:175px;
}  
 .panel-body img{
         height:80px;
		 width:80px;
		 /* margin-top:10px;
		 margin-left: 30%; */
		 }
		 .modal {
			text-align: left;
		  padding: 0!important;
		}	  
	 
.panel p{
          font-size:13px;
         }		 
.modal-lg {
	max-width:auto !important;
}
table{

	font-size:16px;
   
   }
  
   .table-responsive {
  
	height:30%;
	width:100%;
	/* overflow-x: auto; */
	 overflow-y: auto; 
   }
  
  
	.backgroundcolor{
		background-color: lightgrey;
	}
	tbody {
		display:block;
		height:200px;
		overflow:auto;
	}
	thead, tbody tr {
		display:table;
		width:100%;
		table-layout:fixed;
	}
	thead {
		width: calc( 100% - 1em )
	}
	  
		.backgroundcolor{
			background-color: lightgrey;
		}
	  
  